.cp-post-meta li a, .leave-comment, .cp-post-hover a, .archives-widget ul li a:hover, .categories-widget li a:hover, .footer-social li a:hover, .cp-footer-bottom p a, .cp-breadcrumb li a:hover, .cp-post-details blockquote, .cp-post-share ul li a, .cp-related-posts .cp-posts .cp-post h4 a:hover, .cp-link-post-link a:hover, .cp-top-bar .right-box .cp-top-bar-social li a:hover,.address-holder ul li a:hover,.contact-form-info p:first-letter
,.cp-contact-form form input[type="text"]:focus,.cp-contact-form form textarea:focus,.cp-about-info blockquote p,.cp-price-item:hover ul li.btn-buynow a,.cp-love-box ul li:hover a,.cp-post-item .cp-content ul li,
.cp-post-item .cp-content ul li:before,.cp-post-item .cp-content .comments, .cp-post .read-more:hover {
	color: #69a687;
}


.more-btn a:hover, .newsletter-widget .newsletter button, .tags-widget a:hover, .cp-footer .cp-tags a:hover, .cp-footer .cp-newsltter button, .cp-post-share ul li a:hover, .comment-form .btn-submit, 
.cp-pagination .pagination > li:first-child > a, .cp-pagination .pagination > li:first-child > span, .cp-pagination .pagination > li:last-child > a, .cp-pagination .pagination > li:last-child > span, 
.page404 a.cp-back-button, .mail-me-back .input-group input.cp-send, .cp-login-box button, .cp-signup-box button, .cp-post-carousel .cp-slider-content .cp-post-meta a, figure.cp-hover-eff, .cp-insta-feed li,.cp-contact-form .cp-login-buttons button,.cp_about-slider-outer .bx-wrapper .bx-controls-direction a,.cp-price-item ul li.btn-buynow a,.cp-price-item:before,.newsletter-inner-holder form button {
	background: #69a687;
}



.about-widget .about-content a,.cp-contact-form form input[type="text"]:focus,.cp-contact-form form textarea:focus {
	border-color: #69a687;
}
