@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,300);
/*=======================================

	Cp-wrapper1 Style

	body {overflow-x:hidden;}



=======================================*/





.cp_wrapper1 {
	background: url(../images/patt.png) repeat;
	margin: 0px;
	position: fixed;
	width: 100%;
	float: left;
	text-align: left;
	color: #fff;
	z-index: 22;
	height: 100%;
}
.cp_wrapper1:after {
	background: rgba(0,0,0,.30);
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: -1;
}
.cp-cs-header {
	float: left;
	width: 100%;
	padding: 50px 0 25px
}
.cp_wrapper1 .text p {
	font-size: 16px;
	font-weight: 400;
	color: #efefef;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	line-height: 26px;
}
.cp_wrapper1 .text strong {
	font-weight: 600;
}
.cp_wrapper1 .text em {
	font-size: 12px;
}
.cp_wrapper1 .text h2 {
	font-size: 48px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	color: #efefef
}
.cp_wrapper1 .text h2 span, .cp_wrapper1 .text p span {
	color: #ffcc00;
}
.clock-bg {
	background: url(../images/clock.png) no-repeat;
	width: 174px;
	height: 35px;
	display: block;
	margin: 10px 0 15px;
}
/*=======================================

	Countdown-css

=======================================*/

.countdown {
	text-align: center;
}
.cp_wrapper1 .clock-canvas {
	background: none;
	border-radius: 0;
	padding: 0;
	height: auto;
}
.cp_wrapper1 .clock .clock-item {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0;
	display: inline-block;
	height: 350px;
	margin: 0 auto;
	padding: 0 6px;
	text-align: center;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	width: 24%;
	background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(251, 252, 253, 0.1) 49%, rgba(255, 255, 255, 0.1) 50%, rgba(125, 185, 232, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 30% 0;
	box-sizing: border-box;
}
.cp_wrapper1 .clock .clock-item .text p {
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 20px;
}
.cp_wrapper1 .clock .clock-item .text .type-time {
	font-size: 12px;
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
}
.cp_wrapper1 .clock .clock-item:first-child, .cp_wrapper1 .clock .clock-item:last-child {
	transform: scale(1.2, 1.2);
}
.cp_wrapper1 .clock .clock-item:last-child {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.cp_wrapper1 .clock .clock-item:hover {
	transform: scale(1.2, 1.2);
}
.cp_wrapper1 .countdown-time-value {
	position: relative;
}
.cp_wrapper1 .count-down-time-value-afternone {
	position: relative;
}
.cp_wrapper1 .clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
}
/***Right-side***/

.cp_wrapper1 .right-side {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}
.cp_wrapper1 .newsletter-box {
	width: 100%;
}
.cp_wrapper1 .newsletter-box p {
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	margin: 0 0 18px;
	color: #fff;
}
.cp_wrapper1 .newsletter-box .form-box {
	height: 50px;
	width: 100%;
	margin: 80px 0 18px 0;
	position: relative;
}
.cp_wrapper1 .newsletter-box .form-box input[type="text"] {
	color: #999;
	padding:0 0 0 20px;
	border-radius: 5px;
	border: none;
	float: left;
	width: 100%;
	border: solid 1px rgba(255,255,255,.2);
	background: rgba(255,255,255,.1);
	box-sizing:border-box;
	height:52px;
	line-height:52px;
	margin:0px;
}
.cp_wrapper1 .btn-search.btn-submit-news {
	float: left;
	height: 52px;
	font-size: 30px;
	margin-left: 1px;
	border: 0px;
	padding: 0 20px;
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0,0,0,.2);
	border-left: 1px solid rgba(255,255,255,.2);
}
/***Social-links***/

.cp_wrapper1 .social-links {
	margin: 0px;
	text-align: right;
}
.cp_wrapper1 .social-links li {
	display: inline-block;
	border-right: 1px solid #292929;
	list-style: none;
	padding: 0 8px;
}
.cp_wrapper1 .social-links li:last-child {
	border: 0px;
}
.cp_wrapper1 .social-links li a {
	display: block;
	font-size: 18px;
	color: #9c9c9c;
	text-align: center;
}
.cp_wrapper1 .social-links li a:hover {
	color: #ffcc00
}


.clock-canvas .kineticjs-content canvas {right:0; margin:auto !important;}

/*=======================================

	Cp-wrapper2 Style

=======================================*/



.cp_wrapper2 {
	background: url(../images/black.png) repeat;
	margin: 0px;
	position: fixed;
	width: 100%;
	float: left;
	text-align: left;
	color: #fff;
	z-index: 22;
	height: 100%;
}
.cp_wrapper2:after {
	background: rgba(0,0,0,.70);
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: -1;
}
.cp_wrapper2 .logo {
	margin: 50px 0;
	text-align: center
}
.cp_wrapper2 .countdown {
	width: 100%;
	text-align: center;
	float: left;
	margin-bottom: 50px;
}
.cp_wrapper2 .clock .clock-item {
	width: 100px;
	border-right: 1px solid rgba(255,255,255,.1);
}
.cp_wrapper2 .clock .clock-item:last-child {
	border: 0px;
}
.cp_wrapper2 .clock .inner .text {
	top: 0;
	bottom: 0;
	margin: auto;
}
.cp_wrapper2 .clock .inner .text .val {
	font-size: 40px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}
.cp_wrapper2 .clock-canvas {
	background: none;
	border-radius: none;
}
.cp_wrapper2 .countdown {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	float: left;
	padding: 0 0 50px;
	text-align: center;
	width: 100%;
}
.cp_wrapper2 .cp-cs-content {
	text-align: center;
}
.cp_wrapper2 .cp-cs-content h2 {
	color: #EBEBEB;
	font-size: 40px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
.cp_wrapper2 .cp-cs-content span {
	color: #ffcc00;
}
.cp_wrapper2 .cp-cs-content p {
	width: 50%;
	margin: 0 auto;
}
/***newsletter-box***/

.cp_wrapper2 .newsletter-box {
	color: #fff;
	width: 100%;
	float: left;
	text-align: center;
	margin: 50px 0;
	position: relative;
}
.cp_wrapper2 .newsletter-box p {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 18px;
	color: #fff;
}
.cp_wrapper2 .newsletter-box .form-box {
	border: 1px solid (0, 0, 0, .50);
	border-radius: 5px;
	background-color: rgba(255,255,255,.10);
	height: 50px;
	line-height: 50px;
	width: 60%;
	display: inline-block;
}
.cp_wrapper2 .newsletter-box .form-box p {
	display: none;
}
.cp_wrapper2 .newsletter-box .form-box input[type="text"] {
	width: 80%;
	float: left;
	font-size: 14px;
	text-align: left;
	border: none;
	background-color: transparent;
	color: #fff;
	padding-left: 20px;
}
.cp_wrapper2 .btn-search.btn-submit-news {
	border: 0px;
	float: right;
	font-size: 17px;
	background: rgba(0,0,0,.3);
	padding: 0 20px;
}
.cp_wrapper2 .newsletter-box .form-box input[type="submit"] {
	font-size: 16px;
	color: #333333;
	font-weight: 400;
	text-transform: uppercase;
	padding: 8px 20px 9px;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	font-weight: bold;
	text-align: center;
	float: right;
}
/***Social-links***/



.cp_wrapper2 .social-links {
	margin: 50px 0 0;
	padding: 0px;
	text-align: center;
}
.cp_wrapper2 .social-links li {
	display: inline-block;
	margin: 0 4px 8px 4px;
}
.cp_wrapper2 .social-links li a {
	padding: 6px 0;
	width: 47px;
	height: 47px;
	background-color: rgba(255, 255, 255.10);
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 100%;
	display: block;
	font-size: 20px;
	color: #fff;
	text-align: center;
}
.cp_wrapper2 .social-links li a:hover {
	color: #ffcc00;
	border-color: #ffcc00;
}
 @media (min-width: 320px) and (max-width: 767px) {
.cp_wrapper2 .clock .clock-item {
	width: 65px;
}
.inner .text .val, .clock .clock-item {
	margin: 0px;
}
.cp_wrapper2, .cp_wrapper1 {
	position: relative;
}
.cp_wrapper2 .newsletter-box .form-box, .cp_wrapper2 .cp-cs-content p {
	width: 100%;
}
.cp-cs-content {
	width: 100%;
	float: left;
}
.cp_wrapper1 .social-links {
	padding: 0px;
}
.cp_wrapper1 .clock .clock-item {
	width: 22%;
	height: 100px;
	padding: 5% 0;
}
.countdown {
	margin: 50px 0;
}
.cp_wrapper1 .inner .text {
	top: 0;
}
}
 @media (min-width: 768px) and (max-width: 1240px) {
.cp_wrapper1 .inner .text {
	top: 0;
}
.cp_wrapper1 .clock .clock-item {
	width: 23%;
	height: 200px;
	padding: 15% 0;
}
.countdown {
	margin: 50px 0;
}
}
