/******************************

	Widget Start

******************************/

.widget ul {
	margin: 0px;
	padding: 0px;
}
.widget ul li {
	list-style: none;
}
.widget .bx-wrapper {
	float: left;
}
.sidebar .widget {
	margin-bottom: 40px;
	width: 100%;
	float: left;
	clear: both;
}
.sidebar .widget h3 {
	background: #f1f1f1;
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-size: 18px !important;
	width: 100%;
	float: left;
	margin: 0 0 16px;
}
.sidebar .widget select {
	margin-top: 20px;
}
.wrapper .sidebar .widget #searchform input[type="submit"] {
	top: 20px;
	right: 20px;
	background: #ffffff;
	color: #000;
}
.widget #searchform label {
	display: none;
}
.sidebar .widget #searchform, .sidebar .widget_categories ul, .sidebar .widget_archive ul, .sidebar .widget .sidebar-recent-post, .sidebar .widget_pages ul, .sidebar .widget_meta ul, .sidebar #recentcomments, .sidebar .widget_rss ul, .sidebar .textwidget, .sidebar .tagcloud, .sidebar .menu-home-navigation-container, .sidebar .popular_post .sidebar-recent-post ul, .sidebar .fb-like-box, .sidebar .whats-hot .content, .sidebar .widget_product_categories ul.footer-links, .sidebar .widget_top_rated_products .product_list_widget, .sidebar .widget_shopping_cart .widget_shopping_cart_content, .sidebar .widget_recent_reviews .product_list_widget, .widget_em_widget ul, .sidebar .widget .newsletter.get-touch-form {
	background: #ffffff;
	width: 100%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	position: relative;
}
.widget #calendar_wrap {
	background: #242424;
	padding:10px;
	width:100%;
	float:left;
}
.widget #calendar_wrap caption {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}
.widget #calendar_wrap #today {
	font-weight: bold;
}
.widget #calendar_wrap th, .widget #calendar_wrap td {
	color: #999;
}
.textwidget strong {
	font-weight: 700;
	font-size: 14px;
	font-family: "Open Sans";
	margin: 10px 0;
	display: inline-block;
}
.sidebar .popular_post .sidebar-recent-post {
	padding: 0px;
}
.sidebar .flicker {
	background: #242424;
	width: 100%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
}
.sidebar .flicker li {
	border: 0px;
	width: 75px;
	height: 75px;
	float: left;
	margin: 5px;
}
.flickr_badge_image {
	width: 75px;
	height: 75px;
	float: left;
	margin: 5px;
}
.flickr_badge_image img {
	width: 100%;
	height: 75px;
}
/************  Recent Posts   *************/

.widget_em_widget ul li ul {
	padding: 0px;
}
.widget_em_widget ul li ul li {
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.sidebar .popular_post .sidebar-recent-post ul li, .sidebar .sidebar-recent-post .sidebar-recent-post ul li, .widget_em_widget ul li, .cp-footer .widget .reviews-posts li, .widget .product_list_widget li {
	width: 100%;
	float: left;
	border-bottom: rgba(255,255,255,.1) solid 1px;
	padding: 10px 0 10px;
	margin: 0px;
}
.sidebar .popular_post .sidebar-recent-post .frame {
	width: 25%;
	float: left
}
.sidebar .popular_post .sidebar-recent-post .text {
	width: 100%;
	padding-left: 30%;
}
.sidebar .popular_post .sidebar-recent-post .frame img {
	width: 100%;
	height: auto;
}
.sidebar .sidebar-recent-post .text strong.title a, .sidebar .sidebar-recent-post .sidebar-recent-post ul li strong {
	display: block;
	color: #7a7a7a;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}
.sidebar .sidebar-recent-post .text .mnt {
	color: #fff;
	font-size: 13px;
}
.sidebar .readmore {
	background: #ffcc00;
	color: #000;
	padding: 5px 10px;
	display: inline-block;
}
/************  Recent Posts End   *************/

/************  Categories / Archive / Pages links  *************/

.sidebar .widget_categories li a, .sidebar .widget_archive li a {
	text-transform: capitalize;
	color: #666666;
}
.sidebar .widget_categories li a:hover, .sidebar .widget_categories li:hover a, .sidebar .widget_archive li a:hover, .sidebar .widget_archive li:hover a {
	color: #666666;
}
.sidebar .widget_categories li, .sidebar .widget_archive li, .sidebar .widget_pages a, .sidebar .widget_meta a, .sidebar .widget_recent_comments, .sidebar .widget_recent_comments a, .sidebar .widget_recent_entries a, .sidebar .widget_nav_menu a {
	color: #7a7a7a;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	display: block;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
.sidebar .widget_categories a:before, .sidebar .widget_archive a:before, .sidebar .widget_pages a:before, .sidebar .widget_meta a:before, .sidebar .widget_recent_entries a:before, .sidebar .widget_nav_menu a:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 14px;
	margin-right: 10px;
}
.sidebar .widget_archive li:hover, .sidebar .widget_pages a:hover, .sidebar .widget_meta a:hover, .sidebar .widget_recent_entries a:hover, .sidebar .widget_nav_menu a:hover {
	background: #9b0406;
	color: #fff;
	padding-left: 10px;
}
.sidebar .recentcomments, .sidebar .widget_rss li {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.sidebar .widget_rss li a {
	color: #7a7a7a;
	font-size: 14px;
	font-weight: 400;
}
.rss-date, .widget_rss cite {
	display: block;
	color: #fff;
}
/******** Tags *******/

/*

.widget .tagcloud a:before {

	border-color: transparent transparent transparent #1a1a1a;

	border-style: solid;

	border-width: 14px;

	content: "";

	position: absolute;

	right: -28px;

	top: 0;

	width: 0;

	transition: all ease-in-out 0.3s;

	-webkit-transition: all ease-in-out 0.3s;

}

.widget .tagcloud a:after {

	background: none repeat scroll 0 0 #242424;

	border-radius: 2px;

	box-shadow: -1px -1px 2px #161616;

	content: "";

	float: left;

	height: 4px;

	position: absolute;

	right: 0;

	top: 12px;

	width: 4px;

}

.widget .tagcloud a {

	background: none repeat scroll 0 0 #1a1a1a;

	border-bottom-left-radius: 4px;

	border-top-left-radius: 4px;

	color: #fff;

	margin-right: 20px;

	padding: 0 10px 0 12px;

	text-decoration: none;

	font-size: 12px !important;

	height: 28px;

	line-height: 28px;

	position: relative;

	display: inline-block;

	margin: 0 20px 10px 0;

	transition: all ease-in-out 0.3s;

	-webkit-transition: all ease-in-out 0.3s;

}

.widget .tagcloud a:hover {

	background: #fecb02;

	color: #000;

}

.widget .tagcloud a:hover:before {

	border-color: transparent transparent transparent #fecb02;

}

*/

/******** Tags End *******/

/***** Search Form  ****/

.widget #searchform {
	position: relative;
}
.widget #searchform #search-text {
	width: 100%;
	float: left;
}
.widget #searchform input[type="text"], .widget select, .widget_product_search input.search-field {
	background: #ffffff;
	/* border: 1px solid #5b5b5b;*/ 

	border-radius: 4px;
	padding: 6px 12px;
	width: 100%;
	display: block;
}
.widget #searchform input[type="submit"], .widget_product_search input[type="submit"] {
	background: #fecb02;
	color: #000;
	border: 0px;
	font-size: 14px;
	font-weight: 600;
	font-family: "Open Sans";
	text-transform: uppercase;
	padding: 6px 10px;
	position: absolute;
	top: inherit;
	right: 0px;
}
/***** Search Form End  ****/ 

/***** New Widgets  ****/ 

.sidebar .slider_products .bx-viewport {
	width: 100%;
	float: left;
	background: #242424;
}
.widget #slider_products .product_img {
	float: left;
	margin-right: 10px;
}
.widget #slider_products .pro_widget_title {
	display: block;
}
/******************************

Woocommerce Widgets

******************************/

.sidebar .whats-hot .content .product_list_widget li, .sidebar .widget_top_rated_products .product_list_widget li, .sidebar .widget_shopping_cart .cart_list li, .sidebar .widget_recent_reviews .product_list_widget li {
	width: 100%;
	float: left;
	padding: 15px 0;
	border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar .whats-hot .content .product_list_widget li img, .sidebar .widget_top_rated_products .product_list_widget li img, .sidebar .widget_shopping_cart .cart_list img, .sidebar .widget_recent_reviews .product_list_widget img {
	width: 70px;
	height: 70px;
	border: #61605b solid 1px;
	float: left;
	margin-right: 15px;
}
.sidebar .whats-hot .content .product_list_widget a, .sidebar .widget_top_rated_products .product_list_widget a {
	color: #fff;
	display: block;
	margin-bottom: 10px;
}
.sidebar .product_list_widget .star-rating {
	margin-bottom: 10px;
}
.sidebar .whats-hot del, .sidebar .widget_top_rated_products .product_list_widget del {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
	font-size: 12px;
	padding: 3px;
	display: inline-block;
}
.sidebar .whats-hot ins, .sidebar .widget_top_rated_products .product_list_widget ins {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
	font-size: 12px;
	padding: 3px;
}
/* Cart */

.sidebar .cart_list strong {
	font-weight: 400;
}
.sidebar .cart_list .quantity {
	display: block;
}
.sidebar .widget_shopping_cart_content .total {
	clear: both;
	text-align: center;
	padding: 10px;
	color: #fff;
}
.sidebar .widget_shopping_cart_content .buttons {
	clear: both;
	text-align: center;
}
.sidebar .widget_shopping_cart_content .buttons .button {
	background: #ffcc01;
	padding: 5px 10px;
	font-weight: 600;
	font-size: 14px;
	color: #000;
}
/*

.widget_product_categories li {padding:3px 10px;}

*/

/******************************

Footer Widgets

******************************/

.cp-footer .widget h4 {
	color: #fff;
	font-size: 18px!important;
	margin: 0 0 10px 0;
}
.cp-footer .widget a, .cp-footer .widget p, .cp-footer .widget li {
	color: #fff;
}
.cp-footer .widget li {
	line-height: 28px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	list-style: none;
}
.cp-footer .widget {
	margin: 15px 0;
}
.cp-footer .widget li:hover {
	background: #9b0406;
	padding-left: 10px;
	box-shadow: 1px 1px 0px rgba(0,0,0,.2);
}
.cp-footer .widget.slider_products li:hover {
	padding-left: 0;
}
.cp-footer .widget .footer-social li:hover {
	padding: 0px;
	background: none;
}
.cp-footer .textwidget .wpcf7 img {
	width: auto;
}
.textwidget img {
	height: auto;
	width: 100%;
}
.textwidget .wp-smiley {
	width: auto;
}
.cp-footer .widget_rss li {
	line-height: 22px;
	margin: 10px 0;
}
.cp-footer .widget_pages .children li {
	padding: 0 10px;
}
.cp-footer .widget_recent_entries li:before, .cp-footer .widget_archive li:before, .cp-footer .widget_categories li:before, .cp-footer .widget_meta li:before, .cp-footer .widget_recent_comments li:before, .cp-footer .widget_categories li:before, .cp-footer .widget_nav_menu li:before, .cp-footer .widget_pages li:before, .cp-footer .widget_product_categories li:before {
	content: "\f178";
	font-family: FontAwesome;
	font-size: 14px;
	color: #fff;
	padding-right: 10px;
}
.topsearch {
	transform-origin: 100% 0 0;
	transition-duration: 0.5s;
	transition-property: min-height, width, top, right;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.cp_search {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
	min-height: 0;
	position: absolute;
	right: 50px;
	top: 50px;
	transform-origin: 100% 0 0;
	transition-duration: 0.8s;
	transition-property: min-height, width, top, right;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	width: 0;
	z-index: 10000;
}
.cp_search.open {
	width: 100%;
	top: 0px;
	right: 0px;
	display: block;
	min-height: 250px;
}
.cp_search.open a {
	display: none;
}
.cp_search.open .cp_search-form {
	display: block;
}
.cp_search-form {
	display: none;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	position: fixed;
	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.cp_search.open .cp_search-form {
	width: 80%;
	height: 160px;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}
.cp_search-input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	color: #ec5a62;
	-webkit-transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
 .cp_search-input::-ms-clear { /* remove cross in IE */
 display: none;
}
.cp_search.hideInput .cp_search-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.cp_search.open .cp_search-input {
	font-size: 4em;
	color: #999;
	width: 100%;
	line-height: 1.2em;
}

/* placeholder */

.cp_search-input::-webkit-input-placeholder {
 color: #999;
}
 .cp_search-input:-moz-placeholder {
 color: #999;
}
 .cp_search-input::-moz-placeholder {
 color: #999;
}
 .cp_search-input:-ms-input-placeholder {
 color: #999;
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder {
 color: transparent;
}
input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_search-input:focus, .cp_search-submit:focus {
	outline: none;
}
.cp_search-submit {
	position: absolute;
	width: 80px;
	height: 80px;
	/*text-indent: 100px;*/

	overflow: hidden;
	right: 0;
	top: 50%;
	border: none;
	pointer-events: none;
	transform-origin: 50% 50%;
	opacity: 0;
	-webkit-transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
	transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
	text-align: center;
}
.cp_search.open .cp_search-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
	transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
	-webkit-transition: opacity 0.3s all ease-in-out, -webkit-transform 0.3s;
	transition: opacity 0.3s all ease-in-out, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	font-size: 40px;
	color: #fff;
	background: #9b0406;
	text-align: center;
}
.cp_search.open .cp_search-submit:hover {
	color: #fff;
}
.cp_search-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
}
.cp_search.open .cp_search-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	position: fixed;
	top: 7%;
}
.cp_search-close::before, .cp_search-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: #fff;
}
.cp_search-close:hover.cp_search-close::before, .cp_search-close:hover.cp_search-close::after {
	opacity: 1;
}
.cp_search-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cp_search-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cp_search-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}
.cp_search.open .cp_search-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}
/* cp_search_overlay */

.cp_search_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.cp_search.open ~ .cp_search_overlay {
	opacity: 1;
}
.search.cp_search_animate {
	color: #fff;
	display: inline-block;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
/***  End ***/

#header9 .container, #header9 .col-md-7 {
	position: static;
}
.cp-footer .wpcf7-form input.wpcf7-text, .cp-footer .wpcf7-form textarea {
	background: #fff;
	border: #070707 solid 1px;
	width: 100%;
	padding: 8px 12px;
	color: #000;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.cp-footer .wpcf7-form #submit_btn {
	border: 0px;
	color: #000;
	background: #fed010;
	font-size: 16px;
	font-weight: 500;
}
.cp-footer .wpcf7-form .wpcf7-submit {
	background: #fed010;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	font-family: "museo";
	border: 0px;
	padding: 7px 13px;
}
.cp-footer .widget .footer-form #contact_form li:hover, .cp-footer .widget .footer-form #contact_form label:hover {
	background: none;
	padding: 0px;
}

.sidebar .sidebar-recent-post ul {background:#fff; padding:20px; width:100%; float:left; position:relative;}
.sidebar .sidebar-recent-post ul.sub-menu {padding:0 0 0 15px;}


.sidebar-recent-post li {
	border-bottom: 1px solid rgba(0,0,0,.1);
	width: 100%;
	float: left;
}
.widget_em_locations_widget li {
	padding: 10px;
}
.sidebar-recent-post li ul li {
	border: 0px;
	padding: 0px;
}
.cp-footer .widget .sidebar-recent-post li {
	width: 100%;
	float: left;
	padding: 15px 0;
}
.cp-footer .widget .sidebar-recent-post .frame {
	width: 80px;
	float: left;
	margin-right: 10px;
}
.cp-footer .widget .sidebar-recent-post .frame img {
	width: auto;
}
.cp-footer .widget .sidebar-recent-post .title {
	display: block;
}
/******  Newsletter ******/

.widget .newsletter.get-touch-form .field-set-section {
	position: relative;
	overflow: hidden;
}
.widget .newsletter.get-touch-form .field-set-section input {
	width: 100%;
	background: #242424;
	border: 1px solid #000;
	padding: 5px 10px;
}
.widget .newsletter.get-touch-form .field-set-section .btn-search.btn-submit-news {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	padding: 6px 12px;
	border: 0px;
}
/********  Footer Blog **********/

.cp-footer .widget .footer-blog li {
	width: 100%;
	float: left;
	margin: 0 0 15px;
	padding: 0 0 15px 0;
	border-bottom: 1px solid rgba(255,255,255,.20);
}
.cp-footer .widget .footer-blog li:hover {
	padding-left: 0px;
	background: none;
}
.cp-footer .widget .footer-blog .thumbnail {
	background: none;
	border: 0px;
	padding: 0px;
	margin: 0px;
	position: relative;
	overflow: hidden;
}
.cp-footer .widget .footer-blog .thumbnail > a {
	float: left;
	height: 100px;
	width: 120px;
	margin-right: 10px;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
.cp-footer .widget .footer-blog .thumbnail > a:after {
	position: absolute;
	content: "\f0c1";
	width: 25px;
	height: 25px;
	left: 0;
	right: 0;
	top: -150%;
	bottom: 0;
	margin: auto;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	color: #fff;
	font-family: FontAwesome;
	opacity: 0;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
.cp-footer .widget .footer-blog a {
	font-weight: 600;
	font-size: 15px;
}
.cp-footer .widget .footer-blog .thumbnail:hover a:after {
	top: 0;
	opacity: 1;
}
.cp-footer .widget .footer-blog .thumbnail:hover img {
	opacity: .6;
}
.cp-footer .widget .footer-blog .thumbnail img {
	width: 100%;
	height: 100px;
	border: 2px solid #ccc;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
}
.cp-footer .widget .footer-blog .thumbnail .caption {
	padding: 0px;
}
.cp-footer .widget .footer-blog .thumbnail .caption small {
	color: #fff
}
.sidebar .footer-blog .image_found, .sidebar .footer-blog .no_image {
	background: transparent;
	padding: 10px;
}
.sidebar .footer-blog .thumbnail .caption {
	padding: 0 10px 0 0;
	color: #999;
}
.sidebar .footer-blog .image_found .img_class_cp {
	float: left;
	margin-right: 10px;
}
.sidebar .footer-blog .image_found .img_class_cp img {
	width: 80px;
	height: auto;
}
.sidebar .footer-blog .thumbnail {
	background: none;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
/***********  Tabs  ***********/

.wrapper .ui-widget-content {
	background: #242424;
	border: 1px solid #383837;
	border-radius: 0px;
	padding: 0px;
}
.wrapper .contents.tab-content {
	padding: 0px;
}
.wrapper .ui-widget-header {
	background: #242424;
	border: 0px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-radius: 0px;
	text-align: center;
}
.wrapper .ui-tabs .ui-tabs-nav {
	padding: 0px;
}
.wrapper .ui-state-default, .wrapper .ui-widget-content .ui-state-default, .wrapper .ui-widget-header .ui-state-default, .wrapper .ui-tabs-anchor {
	background: none;
}
.wrapper .ui-state-default.ui-corner-top {
	border: 0px;
}
.wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .wrapper .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	background: #191919;
	color: #fff;
}
.wrapper .tabs-widget .nav-tabs > li > a:hover {
	border-color: #191919
}
.list-style-cp-2.list-style.cp-list-style > ul {
	padding: 0px;
}
/*  Calender  */

.sidebar .em-calendar-wrapper {
	float: left;
	background: #242424;
	padding: 10px;
	width: 100%;
}
.sidebar .em-calendar-wrapper thead, .sidebar .em-calendar-wrapper .days-names {
	text-align: center;
	font-weight: bold;
}
.sidebar .em-calendar-wrapper td {
	text-align: center;
	border: 1px solid rgba(255,255,255,.1);
	line-height: 26px;
}
.sidebar .em-calendar-wrapper td a {
	color: #e7521d;
}
.sidebar .accordion-group {
	padding: 10px;
}
.sidebar .accordion-group .accordion-inner strong {
	font-weight: 400;
	margin: 0px;
}
/************  Footer Events  ************/

.wrapper .cp-footer .widget_em_widget li:hover {
	background: none;
	padding-left: 0;
	box-shadow: none;
}
.wrapper .cp-footer .widget .news1-slider {
	position: relative;
}
.wrapper .cp-footer .widget .news1-slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 15px;
}
.wrapper .cp-footer .widget .news1-slider img {
	height: auto;
	width: 100%;
}
.cp-footer .widget h2 {
	margin: 0 0 20px;
	padding: 0px;
	font-size: 24px;
	font-weight: 100;
	color: #fff;
}
.cp-footer .widget .reviews-posts li {
	background: #242424;
}
.widget .reviews-posts img {
	display: none;
}
.widget .reviews-posts h3 {
	background: none;
	font-size: 14px;
	line-height: 25px;
}
.cp-footer .widget ul.reviews-posts .review-thumbnail {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
}
.cp-footer .widget ul.reviews-posts .review-thumbnail img {
	width: 100%;
	height: 80px;
}
.cp-footer .widget ul.reviews-posts h3 {
	font-size: 14px;
	margin: 0px;
}
.widget .em-calendar-wrapper {
	background: #242424;
	padding: 15px 10px;
}
.widget .em-calendar {
	text-align: center;
}
.widget .em-calendar-wrapper tbody td {
	padding: 5px;
}
.widget .em-calendar-wrapper tbody td a {
	padding: 3px;
	color: #000;
}
/********/

.cp-footer .slider_products .product_img, .widget .product_list_widget li img {
	width: 90px;
	float: left;
	margin-right: 10px;
	height: auto;
}
.cp-footer .slider_products .product_img img {
	width: 100%;
	height: auto;
}
.widget .product_list_widget li {
	background: #242424;
}
.widget .product_list_widget li .product-title {
	display: block;
}
.widget_product_search {
	position: relative;
}
.widget_product_search .screen-reader-text {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	display: none;
}
.widget #slider_products li {
	width: 100%;
	float: left;
	padding: 15px;
}
.widget #slider_products li .price {
	padding: 5px 10px;
	display: inline-block;
	margin: 8px 0;
}
.widget #slider_products li a {
	display: block;
}
.widget #slider_products .bx-has-pager {
	display: none;
}
.twitter_widget .bx-viewport {
	float: left;
}
.cp-footer-tweet > li {
	padding: 10px;
}
.widget_mega_main_sidebar_menu li {
	padding: 10px;
}
.widget_mega_main_sidebar_menu li a {
	line-height: 30px;
	color: #7a7a7a
}
.slider_products .bx-wrapper .bx-pager {
	display: none;
}
.widget .tweetss {
	float: left;
	position: relative;
	width: 100%;
}
.widget .tweetss .bx-wrapper {
	float: left;
	width: 100%;
}
.sidebar .widget a:hover {
	color: #fff;
}
.textwidget .wpcf7 img {
	width: auto;
	height: auto;
}
.textwidget .wpcf7 .wpcf7-submit {
	border: 0px;
	padding: 5px 10px;
	color: #000;
}
.news1-slider .bx-controls.bx-has-pager {
	display: none;
}
.bx-wrapper .bx-viewport .bx-wrapper .bx-viewport {
	width: 100%;
	height: 100% !important;
}
/*================================================*/

				/*Test Unit Css*/

/*================================================*/

.cp-footer .widget h4 {
	font-size: 18px !important;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.cp-footer .widget ul {
	padding: 0;
}
.cp-footer .widget ul li {
	list-style: none;
	line-height: 30px;
	padding: 0;
}
.cp-footer .widget ul li:hover {
	background-color: transparent;
	padding-left: 0;
}
.cp-footer .widget label {
	display: block;
	color: #fff;
	margin: 0 0 10px;
}
.cp-footer .widget select {
	border: none;
	border-radius: 0;
}
.cp-footer .widget table {
	width: 100%;
}
#child-care .cp-footer .widget ul .children li:hover, .cp-footer .widget ul .children li:hover {
	padding-left: 10px;
}

.cp-footer .widget .searchform {
	margin: 0;
}

.cp-footer .widget .tagcloud a {
	display: inline-block;
	padding: 6px 13px;
	background-color: #222;
	margin: 0 0 5px;
}
.cp-footer .widget .tagcloud a:hover {
	background-color: #9fc4b1;
}
.cp-footer .widget .tagcloud a:hover {
	color: #fff;
}
.cp-footer .widget .thumb img {
	width: 100%;
	height: auto;
}
/*******************Side Bar Widget*****************/

/*
   .sidebar .widget ul {
	padding: 0;
}*/

.sidebar .widget ul .children {padding:0 0 0 25px;}


.sidebar .widget ul li:hover, .sidebar .widget ul li:hover a, .sidebar .widget ul li a:hover {
	color: #222;
	background-color: transparent;
}
.sidebar .widget select {
	border: 1px solid #ccc;
}
.sidebar .widget table {
	width: 100%;
}
.wrapper .sidebar .widget.widget_categories ul li:hover, .wrapper .sidebar .widget.widget_categories ul li:hover a, .wrapper .sidebar .widget.widget_recent ul li:hover, .wrapper .sidebar .widget_recent ul li a:hover {
	color: #0ca2c0;
}
.wrapper .sidebar .widget.widget_categories ul li:hover:before {
	color: #0ca2c0;
}

.sidebar .widget ul#recentcomments, .sidebar .widget ul.tagcloud, .sidebar .widget form {
	padding: 20px;
}

body .sidebar .newsletter-widget .newsletter {padding:0px;}


.sidebar .widget.widget_rss ul li:hover, .sidebar .widget.widget_rss ul li:hover a {
	color: #333;
}
.sidebar .widget.newsletter-box .get-touch-form {
	padding: 0 !important;
}
.sidebar .widget .newsletter.get-touch-form .field-set-section input {
	color: #fff;
}
.sidebar .widget .newsletter.get-touch-form .field-set-section .btn-search.btn-submit-news {
	padding: 10px 15px;
	top: 20px;
}
/*
.sidebar .widget ul li {
	position: relative;
	padding-left: 15px;
}
*/
.sidebar .widget ul li:before {
	position: absolute;
	left: 0;
}
.sidebar .widget ul li:hover:before {
	color: #0ca2c0;
}
.sidebar .widget_tag_cloud .tagcloud a {
	    display: inline-block;
    border: 1px solid #e8e8e8;
    background: #e1e1e1;
    color: #696969;
    font-size: 13px;
    line-height: 30px;
    padding: 0 7px;
    margin: 0 7px 10px 0;
}
.sidebar .widget_tag_cloud .tagcloud a:hover {

	background-color: #9fc4b1!important;
}

.sidebar .categories ul, .sidebar .archives ul {
	padding: 0px;
	margin: 0px;
}
.sidebar .categories ul li, .sidebar .archives ul li {
	list-style: none;
	line-height: 30px;
}
.sidebar .widget_categories a, .sidebar .archives a {
	color: #000;
}
.sidebar .categories i, .sidebar .archives i {
	color: #999999;
	font-style: normal;
}

.sidebar .widget_categories ul li a:before, .sidebar .widget_archive ul li a:before {
	color: #d1d1d1;
	content: "\f133";
	font-family: FontAwesome;
	margin-right: 10px;
}

.sidebar .widget_archive li:hover, .sidebar .widget_pages a:hover, .sidebar .widget_meta a:hover, .sidebar .widget_recent_entries a:hover, .sidebar .widget_nav_menu a:hover {
	padding-left: 15px;
}
.sidebar .widget .tagcloud {
	padding: 20px 0;
	background-color: transparent!important;
}
.cp-footer .widget.widget_recent_entries ul li:before {
	display: none;
}
.cp-footer .widget.widget_recent_entries ul li .thumb {
	float: left;
	width: 50%;
}
.sidebar .featured-posts ul li .cp-post-content {
	overflow: hidden;
}
.sidebar .featured-posts ul li {
	padding-left: 0;
}
.sidebar .featured-posts ul li h5 {
	font-size: 14px;
}

.sidebar #cp-top-search,
.cp-footer #cp-top-search
 {width:100%; float:left; padding:4px;}
.textwidget option {word-break:break-all; -webkit-word-break:break-all;}

.sidebar .widget_text .widget-content,
.sidebar .newsletter-widget .widget-content


 {padding:10px;}
