/*=======================================
	Dafault Header Style
=======================================*/
.wrapper {
	position: relative;
}
.logo a {
	color: #fff;
}
.topbar {
	width: 100%;
	float: left;
	font-size: 12px;
	color: #fff;
	padding: 0;
	height: 40px;
}
.topbar a, .topbar a:visited {
	color: #fff;
	cursor: pointer;
}
.topbar ul li {
	display: inline-block;
	line-height: 37px;
}
.topbar .topleft > li {
	padding: 0 10px 0 0;
}
.topbar ul li:last-child:after {
	content: '';
}
.topleft {
	padding: 0px;
	margin: 0px;
}
.loginbar {
	margin: 0px;
	padding: 0px;
}
.loginbar > li {
	float: left;
}
.topbar .loginbar > li:after {
	content: '';
}
/*Default social-links */
.top-social li {
	margin: 0 10px 0 0;
}
.topbar .top-social a {
	font-size: 18px;
	margin: 0 10px 0 0;
	color: #fff;
	line-height: 37px;
}
.topbar .social a {
	font-size: 18px;
	margin: 0 10px 0 0;
	color: #fff;
	line-height: 37px;
}
/*Default loginbar */
.loginbar {
	padding: 0;
}
.loginbar li {
	display: inline-block;
}
.loginbar li .fa {
	margin: 0 5px 0 0;
}
.loginbar a {
	color: #fff;
	cursor: pointer;
}
.topbar .loginbar .hsearch {
	padding: 4px 5px;
}
.search {
	border: none;
	text-align: center;
	color: #333;
}
/*=======================================
	Default Logo-bar
=======================================*/
.logobar {
	float: left;
	width: 100%;
	padding: 20px 0;
}
.logobar .cart .fa {
	padding-right: 6px;
}
/*=======================================
	Default Navigation-row
=======================================*/
.navigation-row {
	float: left;
	width: 100%;
}
.navigation-row .navbar-default .navbar-nav li a {
	padding: 5px 15px;
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all .4s ease-in;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
	background-color: transparent;
}
.navigation-row .navbar-default {
	background-color: transparent;
	border: none;
}
.navigation-row .navbar-collapse {
	padding: 0;
}
.navigation-row .navbar {
	margin: 0;
}
/****** Header Search Position *****/

header .col-md-8.col-xs-12, #cp_header5 .topbar .col-md-6.col-xs-12, .wrapper .topbar .col-lg-8.col-md-8.col-sm-12, #cp_header2 .container .col-md-9 {
	position: static;
}
/**************  Sub-Menu  ***************/

.wrapper #cp_header2 .home-menu .nav.navbar-nav .sub-menu a, .wrapper #cp_header1 .navigation-row .navbar-default .navbar-nav .sub-menu a, #cp_header3 .navigation-row .navbar-default .navbar-nav li .sub-menu a, .wrapper #cp_header4 li.menu-item .sub-menu li a, #cp_header5 .navigation-row.zindex-item .sub-menu li a, #cp_header6 .navigation-row .navbar-default .navbar-nav .sub-menu li a, #cp_header_12 .home-menu .nav.navbar-nav .sub-menu li a, .cp-header8 .logo-nav .navbar-default .navbar-nav li .sub-menu li a, #cp_header7 .navigation-row .navbar-default .navbar-nav li .sub-menu li a {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	font-family: "Open Sans";
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding:10px;
	text-align: left;
	display: block;
}
.wrapper #cp_header2 .home-menu .nav.navbar-nav .sub-menu a:hover, .wrapper #cp_header1 .navigation-row .navbar-default .navbar-nav .sub-menu a:hover, #cp_header3 .navigation-row .navbar-default .navbar-nav li .sub-menu a:hover, .wrapper #cp_header4 li.menu-item .sub-menu li a:hover, #cp_header5 .navigation-row.zindex-item .sub-menu li a:hover, #cp_header6 .navigation-row .navbar-default .navbar-nav .sub-menu li a:hover, #cp_header_12 .home-menu .nav.navbar-nav .sub-menu li a:hover, .cp-header8 .logo-nav .navbar-default .navbar-nav li .sub-menu li a:hover, #cp_header7 .navigation-row .navbar-default .navbar-nav li .sub-menu li a:hover {
	border-radius: 0px;
	background: rgba(0,0,0,.9);
}
.home-menu .nav.navbar-nav li .sub-menu, .wrapper .home-menu .nav.navbar-nav li > .sub-menu li > .sub-menu {
	display: none;
	margin: 0px;
	padding: 0px;
}
.home-menu .nav.navbar-nav li {
	position: relative;
}
.wrapper .home-menu .nav.navbar-nav li:hover > .sub-menu {
	position: absolute;
	display: block;
	left: 0;
	top: 100%;
	z-index: 999;
	min-width: 220px;
	background: rgba(0,0,0,.7);
}
.wrapper .home-menu .nav.navbar-nav li > .sub-menu li:hover > .sub-menu {
	position: absolute;
	display: block;
	left: 100%;
	top: 0;
	z-index: 999;
	min-width: 220px;
	background: #242424;
}
/**************  Sub-Menu End  ***************/


















/*=======================================
	Header1 style
=======================================*/
#cp_header1 {
	position: relative;
	color: #fff;
	float: left;
	width: 100%;
}
/*
.cp_search {
	display: none;
} */

#cp_header1 .logobar {
	background: rgba(0,0,0,.5);
}
/***Navigation Style***/

#cp_header1 .home-menu .nav.navbar-nav li {
	position: relative;
	display: inline-block;
	margin-right: -4px;
	float: none;
}
#cp_header1 .home-menu .nav.navbar-nav {
	float: left;
	text-align: center;
	width: 100%;
}
#cp_header1 .home-menu .nav.navbar-nav li .sub-menu li {
	width: 100%;
	float: left;
	text-align: left;
	margin: 0px;
}
#cp_header1 .navigation-row {
	background-color: #e96f91;
}
#cp_header1 .navigation-row .navbar-default .navbar-nav li a {
	padding: 28px 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
#cp_header1 .home-menu .nav.navbar-nav li .sub-menu li a {
	background: #242424;
}
.wrapper #cp_header1 .navbar-default .navbar-nav .current-menu-item a, .wrapper #cp_header1 .navbar-default .navbar-nav .current-menu-parent a, .wrapper #cp_header1 .navbar-default .navbar-nav li a:hover, .wrapper #cp_header1 .navbar-default .navbar-nav li a:focus {
	background-color: #fff;
	color: #000;
}
/*=======================================
	Header2 Style
=======================================*/
#cp_header2 {
	float: left;
	width: 100%;
}
#cp_header2 .topbar {
	border-bottom: 1px solid rgba(0,0,0,.30);
}
#cp_header2 .logo img {
	width: auto;
	height: 70px;
}
#cp_header2 .search {
	padding: 29px 24px 32px;
	font-size: 24px;
	display: inline-block;
	background-color: #e96f91;
	float: right;
	margin: 0 0 0 10px;
}
#cp_header2 .search:hover {
	color: #fff;
}
#cp_header2 .topbar .social a {
	color: #fff;
}
/***Navigation-style***/
#cp_header2 .navigation-row {
	background-color: #fff;
	line-height: 30px;
}
#cp_header2 .navigation-row .logo {
	padding: 10px 0;
}
#cp_header2 .navigation-row .home-menu {
	margin: 30px 0 0;
}
#cp_header2 .topbar .loginbar li:before, #cp_header1 .loginbar li:before {
	content: "|";
	font-size: 14px;
	padding-right: 15px;
	padding-left: 15px;
}
.wrapper #cp_header2 .navigation-row .navbar-default .navbar-nav li a {
	border-radius: 5px;
}
#cp_header2 .cart-item {
	position: relative;
}
.wrapper .hlinks .cart-item, #cp_header1 .cart-item {
	position: relative;
}
#cp_header2 .cart-item .widget_shopping_cart_content, .wrapper .hlinks .cart-item .widget_shopping_cart_content, #cp_header1 .cart-item .widget_shopping_cart_content {
	position: absolute;
	left: 0px;
	top: 100%;
	width: 220px;
	background: rgba(0,0,0,.9);
	z-index: 999;
	display: none;
}
#cp_header2 .widget_shopping_cart_content .cart_list.product_list_widget, #cp_header1 .widget_shopping_cart_content .cart_list.product_list_widget {
	margin: 0px;
	padding: 0px;
}
#cp_header2 .widget_shopping_cart_content .cart_list.product_list_widget > li:after, #cp_header2 .widget_shopping_cart_content .cart_list.product_list_widget > li:before, #cp_header1 .widget_shopping_cart_content .cart_list.product_list_widget > li:before {
	display: none;
}
#cp_header2 .widget_shopping_cart_content .cart_list.product_list_widget li, .wrapper .hlinks .cart-item .widget_shopping_cart_content .cart_list.product_list_widget li, #cp_header1 .widget_shopping_cart_content .cart_list.product_list_widget li {
	position: relative;
	width: 100%;
	float: left;
	border-bottom: 1px solid rgba(255,255,255,.2);
	padding: 10px;
	line-height: 20px;
}
#cp_header2 .widget_shopping_cart_content .cart_list.product_list_widget a.remove, .wrapper .hlinks .cart-item .widget_shopping_cart_content .cart_list.product_list_widget a.remove, #cp_header1 .widget_shopping_cart_content .cart_list.product_list_widget a.remove {
	position: absolute;
	left: 15px;
	top: 15px;
	height: 20px;
	width: 20px;
	background: #000;
	border-radius: 3px;
	line-height: 20px;
	text-align: center;
}
#cp_header2 .widget_shopping_cart_content .cart_list.product_list_widget img, .wrapper .hlinks .cart-item .widget_shopping_cart_content .cart_list.product_list_widget img, #cp_header1 .widget_shopping_cart_content .cart_list.product_list_widget img {
	float: left;
	height: auto;
	margin-right: 10px;
	width: 65px;
}
#cp_header2 .widget_shopping_cart_content .quantity, .wrapper .hlinks .cart-item .widget_shopping_cart_content .quantity, #cp_header1 .widget_shopping_cart_content .quantity {
	display: block;
}
/*=======================================
	Header2 Backgroung Style
=======================================*/

.bg-travel-wrapper ul {
	padding: 0;
}
#cp_header2.bg-travel-wrapper .search {
	padding: 0;
	margin: 0 0 0 10px;
	float: inherit;
	font-size: 16px;
}
#cp_header2.bg-travel-wrapper .topbar .loginbar li:first-child:before {
	margin-left: 0;
}
#cp_header2.bg-travel-wrapper .topbar .loginbar li:last-child:before {
	content: '';
	display: none;
}
#cp_header2.bg-travel-wrapper .topbar .loginbar > li::after {
	content: '';
	display: none;
	padding: 0;
}
#cp_header2 .bg-travel .logo {
	padding: 15px 0;
}
#cp_header2 .bg-travel .home-menu {
	margin: 0;
}
.wrapper #cp_header2.bg-travel-wrapper .bg-travel .navbar-default .navbar-nav li a {
	padding: 40px 20px;
	border-radius: 0;
	color: #fff;
}
.wrapper #cp_header2.bg-travel-wrapper .bg-travel .current-menu-item, .wrapper #cp_header2.bg-travel-wrapper .bg-travel .current-menu-parent, .wrapper #cp_header2.bg-travel-wrapper .bg-travel .navbar-default .navbar-nav li a:hover, .wrapper #cp_header2.bg-travel-wrapper .bg-travel .navbar-default .navbar-nav li a:focus, .wrapper #cp_header2.bg-travel-wrapper .bg-travel .navbar-default .navbar-nav li a.active {
	background: rgba(0,0,0,.3);
	border-radius: 0px;
}
.wrapper #cp_header2.bg-travel-wrapper .bg-travel .navbar-default .navbar-nav .sub-menu a {
	padding: 7px 10px;
}
.hlinks ul {
	margin: 0px;
	padding: 0px;
}
.hlinks ul li:after {
	display: none;
}
.hlinks ul li {
	padding: 0 10px;
}
/*=======================================
	Header3 style
=======================================*/
#cp_header3 {
	float: left;
	width: 100%;
}
#cp_header3 .logo-row {
	float: left;
	width: 100%;
	padding: 30px 0;
	background-color: #e96f91;
}
#cp_header3 .social-links {
	border: 1px solid #ccc;
	float: right;
	padding: 0;
}
#cp_header3 .social-links li {
	float: left;
	border-right: 1px solid #ccc;
}
#cp_header3 .social-links li:last-child {
	border-right: none;
}
#cp_header3 .social-links li a {
	padding: 2px 9px 2px;
	display: block;
	font-size: 22px;
	color: #fff;
}
#cp_header3 .nav-left li {
	display: inline-block;
	margin: 0 0 0 8px;
}
#cp_header3 .nav-left li a {
	display: block;
	padding: 1px 5px;
	font-size: 16px;
	color: #999999;
	border: 1px solid #cccccc;
}
/***Navigation-row***/
#cp_header3 .navigation-row {
	background-color: #fff;
	padding: 15px 0;
}
#cp_header3 .navigation-row .navbar {
	min-height: 30px;
}
#cp_header3 .navigation-row .navbar-default .navbar-nav li a {
	color: #999999;
	padding: 5px 25px;
}
#cp_header3 .navbar-default .navbar-nav li a:hover, #cp_header3 .navbar-default .navbar-nav li a:focus, #cp_header3 .navbar-default .navbar-nav li a.active {
	border-radius: 5px;
	color: #fff;
}
/*=======================================
	Header4 style
=======================================*/
#cp_header4 {
	float: left;
	width: 100%;
}
#cp_header4 .topbar {
	background-color: #fff;
}
#cp_header4 .topbar a, #cp_header4 .topbar li {
	color: #999999;
}
#cp_header4 .topbar ul li:last-child {
	margin-right: 0;
}
#cp_header4 .topbar ul li:last-child:after {
	content: '';
	padding: 0;
	display: none;
}
#cp_header4 .navigation-row {
	background-color: #e96f91;
}
#cp_header4 .navigation-row .logo a {
	padding: 25px 0;
	background-color: #fff;
	display: inline-block;
	text-align: center;
	width: 100%;
}
#cp_header4 .loginbar .cart-item {
	margin-top: 0px;
}
#cp_header4 .loginbar li {
	margin: 0 10px;
}
#cp_header4 .loginbar li:first-child:before {
	content: " ";
}
#cp_header4 .form-box {
	height: 28px;
	width: 100%;
	border: 1px solid #fff;
}
#cp_header4 .form-box input[type="text"] {
	width: 80%;
	border: none;
	background-color: transparent;
	font-size: 11px;
	padding: 4px 8px;
	color: #fff;
}
#cp_header4 .form-box [type="submit"] {
	border: none;
	background-color: transparent;
	font-size: 14px;
	margin: 3px 0;
	padding: 0px 8px;
	border-left: 1px solid #fff;
	float: right;
	color: #fff;
}
/***Navigation-row ***/
#cp_header4 .navigation-row .navbar-default .navbar-nav {
	padding: 17px 0 17px 85px;
}
#cp_header4 .navigation-row .navbar-default .navbar-nav li {
	width: 33.33%;
	position: relative;
}
#cp_header4 .navigation-row .navbar-default .navbar-nav li a {
	padding: 0 15px 10px;
}
#cp_header4 .navigation-row .navbar-default .navbar-nav li:before {
	content: "";
	font-family: FontAwesome;
	font-size: 5px;
	color: #fff;
	padding: 0 12px 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 15px;
	width: 5px;
}
#cp_header4 .navigation-row .top-social {
	margin: 20px 0px 5px;
	float: right;
}
#cp_header4 .navigation-row .top-social a {
	color: #fff;
	font-size: 16px;
	padding: 2px 5px;
}
.wrapper #cp_header4 li.menu-item .sub-menu li {
	width: 100%;
}
.wrapper #cp_header4 li.menu-item .sub-menu li:before {
	display: none;
}
/*=======================================
	Header5 Style
=======================================*/
#cp_header5 {
	float: left;
	width: 100%;
}
#cp_header5 .search.cp_search_animate {
	line-height: 18px;
}
#cp_header5 .navigation-row {
	margin: 125px 0 0;
}
#cp_header5 .navigation-row .navbar {
	padding: 13px 0 13px 85px;
}
#cp_header5 .navigation-row .logo {
	height: 125px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0px;
	width: 200px;
	z-index: 1000;
}
#cp_header5 .navigation-row .logo img {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0px;
}
#cp_header5 .navigation-row .navbar .logo a {
	padding: 20px;
}
#cp_header5 .navigation-row .logo:hover a {
	background-color: transparent;
}
#cp_header5 .navigation-row .container {
	position: relative;
}
#cp_header5 .navigation-row.margin-none {
	margin: 0;
}
#cp_header5 .navigation-row.zindex-item {
	position: relative;
	z-index: 1000;
}
#cp_header5 .home-menu .navbar-nav {
	margin: 0;
	padding: 14px 0;
}
#cp_header5 .home-menu .navbar-default {
	margin: 0;
	padding: 0;
}
#cp_header5 .navbar-nav > li {
	display: inline-block;
	float: none;
}
#cp_header5 .navbar-nav {
	float: none;
	text-align: center;
}
#cp_header5 .navigation-row .home-menu .navbar-nav > li > a:hover a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	color: #000;
}
#cp_header5 .navigation-row .home-menu .navbar-nav > li > a {
	border: 0 none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
#cp_header5 .navigation-row .home-menu .navbar-nav > li > a:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	border: 0 none;
	border-radius: 5px;
	box-shadow: none;
	color: #fff;
}
#cp_header5 .navigation-row .navbar-nav li > ul > li:last-child > a, #cp_header5 .navigation-row .navbar-nav li > ul > li:last-child > a:hover {
	border: 0 none;
}
/*=======================================
	Header6 Style
=======================================*/
#cp_header6 {
	float: left;
	width: 100%;
}
#cp_header6 .navigation-row {
	background-color: #e96f91;
}
#cp_header6 .navigation-row .home-menu {
	float: left;
	margin: 12px 0 0 30px;
}
#cp_header6 .navigation-row .logo {
	float: left;
}
#cp_header6 .navigation-row .logo a {
	display: inline-block;
	text-align: center;
	padding: 20px 0 20px 15px;
}
#cp_header6 .hsearch {
	width: 70px;
	height: 70px;
	color: #fff;
	font-size: 24px;
	padding: 18px 0;
	display: inline-block;
	float: right;
}
/***Navigation-row***/
#cp_header6 .navigation-row .navbar-default .navbar-nav {
	float: left;
	margin: 20px 0 0;
}
#cp_header6 .navigation-row .navbar-default .navbar-nav li {
	border-left: 1px solid #fff;
	line-height: 15px;
}
#cp_header6 .navigation-row .navbar-default .navbar-nav li:before {
}
#cp_header6 .navigation-row .navbar-default .navbar-nav li a {
	font-size: 14px;
	padding: 12px 54px 13px;
}
#cp_header6 .navigation-row .navbar-default .navbar-nav .sub-menu li {
	border-left: 0px;
}
/*=======================================
	Header7 Style
=======================================*/
#cp_header7 {
	float: left;
	width: 100%;
	z-index: 100;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0;
}
#cp_header7 .navigation-row {
	float: left;
	width: 100%;
	padding: 110px 0;
}
#cp_header7 .navigation-row .nav-holder {
	background:rgba(0,0,0,.77);
	border-radius: 5px;
	width: 100%;
	float: left;
	height: 50px;
}
#cp_header7 .logo {
	background-color: #bd0102;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	height: 80px;
	left: 30px;
	position: absolute;
	text-align: center;
	top: -15px;
	width: 195px;
}
#cp_header7 .logo a {
	display: inline-block;
	position: relative;
	top: -41%;
	z-index: 100;
}
#cp_header7 .logo::before {
	background-color: #bd0102;
	border-radius: 100%;
	box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.2);
	content: "";
	height: 120px;
	left: 0;
	position: absolute;
	top: -56px;
	width: 100%;
}
#cp_header7 .logo::after {
	background-color: #bd0102;
	border-radius: 100%;
	bottom: -56px;
	box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.2);
	content: "";
	height: 120px;
	left: 0;
	position: absolute;
	width: 100%;
}
#cp_header7 .navigation-row .navbar-default .navbar-nav li {
	float: left;
	position: relative;
}
#cp_header7 .navigation-row .navbar-default .navbar-nav li:first-child:before {
	content: '';
}
#cp_header7 .navigation-row .navbar-default .navbar-nav li:before {
	content: '\f111';
	font-family: 'FontAwesome';
	font-size: 8px;
	color: #999;
	position: absolute;
	top: 18px;
}
#cp_header7 .navigation-row .navbar-default .navbar-nav li a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 15px 20px;
	text-transform: uppercase;
}
#cp_header7 .navigation-row .navbar-default .navbar-nav li .sub-menu li:before {
	display: none;
}
#cp_header7 .navigation-row .navbar-default .navbar-nav li .sub-menu li {
	width: 100%;
	float: left;
}
/*=======================================
	Header8 Style
=======================================*/
.cp-header8 {
	float: left;
	width: 100%;
}
.cp-header8 .logo-nav {
	padding: 70px 0;
	float: left;
	width: 100%;
}
.cp-header8 .logo-nav .navbar-default {
	background-color: transparent;
	border: none;
}
.cp-header8 .logo-nav .navbar-default .navbar-nav li a {
	color: #fff;
	font-size: 14px;
	padding: 13px 17px;
	text-transform: uppercase;
}
.cp-header8 .logo-nav .navbar-default .collapse {
	padding: 0;
}
/**********  Header 9 Start  **********/

#header9 {
	width: 100%;
	float: left;
}
#header9 ul {
	padding: 0px;
}
#header9 li {
	list-style: none;
}
#header9 .topbar {
	background: #bd0102;
	position: relative;
	width: 100%;
	float: left;
	line-height: 47px;
	padding: 0px;
	height: 47px;
}
#header9 .topleft a, #header9 .topleft {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}
#header9 .topbar-dropdowns {
	margin: 0 45px 0 0;
}
#header9 .topbar p {
	margin: 0px;
	color: #fff;
	font-size: 14px;
	font-family: "Open Sans";
}
#header9 .topbar p a {
	color: #bd0102;
}
#header9 .top-black {
	background: none repeat scroll 0 0 #000;
	margin: 0 0 0 -9999px;
	padding: 0 0 0 9999px;
	z-index: 99999;
}
#header9 .topbar-dropdowns li {
	float: left;
	border-left: 1px solid #1a1a1a;
	padding: 0 15px;
	line-height: 47px;
}
#header9 .topbar-dropdowns .btn-default {
	background: none;
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	line-height: 47px;
	font-size: 14px;
	color: rgba(255,255,255,.50);
	font-family: "Open Sans"
}
#wrapper.wrapper .topbar .topbar-dropdowns .dropdown-menu a:hover, #wrapper.wrapper .topbar .topbar-dropdowns .dropdown-menu a:active, #wrapper.wrapper .topbar .topbar-dropdowns .dropdown-menu a:focus {
	color: #000;
}
#header9 .topbar-dropdowns .dropdown-menu > li > a:hover, #header9 .topbar-dropdowns .dropdown-menu > li > a:focus {
	background: #ffcc00;
}
#header9 .topbar-dropdowns .dropdown-menu {
	background: #181818;
	border: 1px solid #131313;
	box-shadow: none;
	border-radius: 0px;
}
#header9 .topbar-dropdowns .dropdown-menu li {
	padding: 0px;
	width: 100%;
	float: left;
	border: 0px;
}
.topsearch {
	color: #fff;
	font-size: 20px;
}
#header9 .social {
	background: #bd0102;
	position: relative;
}
#header9 .social:before {
	border-right: 65px solid #bd0102;
	border-top: 47px solid transparent;
	content: " ";
	height: 0;
	left: -64px;
	position: absolute;
	width: 0;
}
#header9 .topbar .social a {
	color: #fff;
	font-size: 17px;
	padding: 0 5px;
	line-height: 17px;
	margin: 0px;
}
#header9 .main-navbar {
	background: rgba(0,0,0,.77);
	width: 100%;
	float: left;
	position: absolute;
	min-height: 92px;
	left: 0;
	top: 90px;
	z-index: 199;
}
#header9 .main-navbar .logo {
	background: url(../../../neomag/images/logo-bg.png) no-repeat top center;
	text-align: center;
	position: absolute;
	left: 0;
	top: -23px;
	height: 138px;
	width: 100%;
	padding: 12px 0 0 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#header9 .main-navbar .navbar {
	margin: 0px;
	padding: 0px;
	border-radius: 0;
	border: 0px;
}
#header9 .main-navbar .navbar-nav > li {
	position: relative;
}
#header9 .main-navbar .hrating, #header9 .main-navbar .hcart {
	background: #adadad;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	color: #fff;
	cursor: pointer;
}
#header9 .main-navbar .navbar-default {
	background: none;
	border: 0px;
}
#header9 .main-navbar .navbar-nav > li > a {
	padding: 0px 24px;
	margin: 0px;
	font-family: 'museo';
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	line-height: 92px;
}
#header9 .main-navbar .navbar-nav > li > ul > li > a, #header9 .main-navbar .navbar-nav > li > ul > li > ul > li a {
	line-height: normal;
}
#header9 .main-navbar .navbar-nav > li > a:hover, #header9 .main-navbar .navbar-nav > li.active > a, #header9 .main-navbar .navbar-default .navbar-nav > .open > a, #header9 .main-navbar .navbar-default .navbar-nav > .open > a:hover, #header9 .main-navbar .navbar-default .navbar-nav > .open > a:focus {
	background: #bd0102;
}
#header9 .topbar ul li:after {
	display: none;
}
#header9 .main-navbar .navbar-nav {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}
#header9 .main-navbar .navbar-nav li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}
#header9 .main-navbar .navbar-nav li.current-menu-item {
	background: #ddd
}
/*
#header9 .main-navbar .navbar-nav ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	text-align: left;
}

*/

.wrapper #header9 .main-navbar .navbar-nav .sub-menu li.menu-item {
	width: 100%;
	float: left;
}
#header9 .main-navbar .navbar-nav ul ul {
	top: 0;
	left: 100%
}
#header9 .main-navbar .navbar-nav li:hover > ul {
	display: block
}
.wrapper #header9 .main-navbar .navbar-nav > li:hover .sub-menu li a {
	background: #242424;
	padding: 10px 15px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	border-bottom: rgba(255,255,255,.1) solid 1px;
	width: 100%;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	display: block;
	line-height: normal;
	font-family: "Open Sans"
}
#header9 .main-navbar .navbar-nav > li:hover .sub-menu li a:hover {
	background: #000;
}
#header9 .current-menu-item a, #header9 .main-navbar .navbar-nav li:hover {
	background: #bd0102;
}
#header9 .nav-last2 {
	text-align: center;
	position: relative;
	background: rgba(0,0,0,.5);
	border-left: 1px solid rgba(0,0,0,.5);
	border-right: 1px solid rgba(0,0,0,.5);
}
#header9 .nav-last2 .cart-item .btn-login {
	padding: 28px 0;
	display: inline-block;
	font-size: 25px;
}
#header9 .nav-last2 .cart-item a {
	cursor: pointer;
}
#header9 .nav-last2 .widget_shopping_cart_content {
	display: none;
	position: absolute;
	background: #000;
	width: 220px;
	right: 0;
	z-index: 9999;
}
#header9 .nav-last2 .widget_shopping_cart_content li {
	padding: 10px;
	position: relative;
	text-align: left;
	width: 100%;
	float: left;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#header9 .nav-last2 .widget_shopping_cart_content img {
	float: left;
	margin-right: 10px;
	width: 65px;
	height: auto;
}
#header9 a.remove {
	position: absolute;
	left: 15px;
	top: 15px;
	background: #000;
	padding: 0px 5px;
	border-radius: 2px;
}
#header9 span.quantity {
	display: block;
}
.widget_shopping_cart_content .buttons {
	float: left;
	text-align: center;
	width: 100%;
}
.widget_shopping_cart_content .buttons a.button {
	background: rgba(255,255,255,.1);
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	line-height: normal;
}
.widget_shopping_cart_content p.total {
	width: 100%;
	float: left;
	margin-top: 10px;
	text-align: center;
	line-height: normal;
}
/*********   Inner Title Bg  *************/

/*=======================================
	Header12 Style
=======================================*/

#cp_header_12 {
	background: #242424;
}
#cp_header_12 .navbar-default {
	background: none;
}
#cp_header_12 .home-menu .nav.navbar-nav li a {
	color: #fff;
}
#cp_header_12 .home-menu {
	margin-top: 30px;
}
.inner-titlebg {
	/*	background: url(../images/inner-pagebg.jpg) top center no-repeat; */
	background-size: cover;
	position: relative;
	z-index: 88;
	padding: 210px 0 0 0;
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.inner-titlebg h2 {
	color: #FFF;
	font-size: 36px;
	font-weight: 700;
	padding: 0;
	text-shadow: 2px 0 3px rgba(0,0,0,.40);
	position: relative;
	z-index: 111;
	margin: 0;
}
.wrapper .inner-titlebg h4 {
	font-size: 15px;
	font-weight: 500;
	margin: 15px 0 0px;
}
.inner .navbar-nav a {
	color: #666;
}
.inner-titlebg .bg_transparent {
	background: url("../images/slider-pattren.png") repeat scroll 0 0 #181818;
	border-top: 1px solid #000;
	display: block;
	float: left;
	padding: 30px 0;
	text-align: left;
	width: 100%;
}
.woocommerce-breadcrumb {
	float: right;
	color: #fff
}
ul#breadcrumb, .woocommerce-breadcrumb {
	margin: 0px;
	padding: 5px;
	border: 1px solid rgba(255,255,255,.2);
}
ul#breadcrumb li, .woocommerce-breadcrumb li {
	display: inline-block;
}
ul#breadcrumb li:after {
	content: "/";
}
ul#breadcrumb li a, .woocommerce-breadcrumb a {
	color: #fff;
}
ul#breadcrumb li.current:after {
	content: "";
}


.wrapper #header9 .main-navbar .home-menu .menu li a {padding:0 15px;}

