.facebook_fan .thumbnail_image img{
width:100%;
}
.facebook_fan .wrapper{
	width:910px;
	margin:0 auto;
	float:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);	
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);	
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);	
	overflow:hidden;	
}
.facebook_fan .wrapper .container{
	width:810px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0px 15px;
}
.facebook_fan .cp-text-description{display:none}
.facebook_fan .sidebar .photo-gallery .flicker li img,.facebook_fan .sidebar .flicker .flickr_badge_image img,.facebook_fan #footer .flicker .flickr_badge_image img{
	width:65px;
	height:65px;
}
.facebook_fan .sidebar .photo-gallery .flicker li,.facebook_fan .sidebar .flicker .flickr_badge_image,.facebook_fan  #footer .flicker .flickr_badge_image{
	width:70px;
	height:70px;
}
#mega_main_menu .nav_logo > .logo_link > img{
	width:100px;
}
 
.facebook_fan .slider-text-gym{
	display:none;
}
.facebook_fan .topnav a {    
    font-size: 11px;
    margin-left: 6px;
    margin-right: 6px;
}
.facebook_fan .topnav span {
    float: right;
    font-size: 11px;
    padding-left: 4px;
}
.facebook_fan .social li{
	margin:0px;
}