/*** Main Style Sheet ***/
ul {
    margin: 0px;
}

div.panel-menu {
    float: left;
    width: 200px;
}

.panel-menu-header {
    border-bottom: 1px solid #1E7490;
    height: 136px;
    margin-bottom: 1px;
    text-align: center;
}

.panel-menu-header img {
    margin-top: 39px;
}

.panel-header-left-text {
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}

.panel-header-left-text .panel-crunchpress-text {
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}

.panel-header-left-text .panel-admin-panel-text {
    margin-top: 12px;
    color: #fff;
    font-size: 16px;
}

.panel-menu-header-strap {
    height: 5px;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.panel-elements {
    width: 580px;
    float: left;
    position: relative;
}

.panel-element-head {
    height: 93px;
    position: relative;
    background: url('../images/panel-element-head-bg.png') repeat-x;
    background-color: #e8e8e8;
    border-bottom: 1px solid #e2e2e2;
    -moz-box-shadow: 5px 1px 5px #eee;
    -webkit-box-shadow: 5px 1px 5px #eee;
    box-shadow: 5px 1px 5px #eee;
}

.panel-element-header-strap {
    height: 5px;
    background: #a8a8a8;
    opacity: 0.16;
    filter: alpha(opacity=16);
}

.panel-element-tail {
    height: 75px;
    border-top: 1px solid #ededed;
    background: url('../images/panel-element-tail-bg.png') repeat-x;
    background-color: #e8e8e8;
}

.panel-element {
    display: none;
}

#panel-element-save-complete {
    width: 320px;
    height: 130px;
    z-index: 100;
    padding-top: 45px;
    padding-bottom: 5px;
    position: absolute;
    left: 50%;
    top: 140px;
    margin-left: -160px;
    font-weight: bold;
    font-size: 14px;
    background: url("../images/save-complete-bg.png");
}

.panel-element-save-text {
    margin: 0px auto;
    text-align: center;
    color: #fff;
    padding: 0px 20px;
}

.alert-err {
    font-size: 12px;
    margin-top: -5px;
    display: block;
}

.panel-element-save-arrow {
    width: 48px;
    height: 48px;
    margin: 18px auto;
    background: url("../images/check-list2.png");
}

.crunchpress-panel-wrapper {
    margin: 30px 0px 0px 15px;
    border: 1px solid #e9e9e9;
    width: 780px;
    overflow: hidden;
    background: url('../../../neomag/framework/images/panel-menu-bg.png') repeat-y;
    background-color: #eee;
}

/* Accordion Navigation Css */
#panel-nav {
    float: left;
    width: 200px;
}

#panel-nav li {
    list-style: none;
    margin: 0px;
    clear: both;
}

#panel-nav li a {
    display: block;
    height: 53px;
    text-decoration: none;
    color: #000;
    width: 200px;
    border-bottom: 1px solid #1E7490;
    background: url("../../../neomag/framework/images/panel-parent-nav.png");
}

div.top-menu-bar {
    height: 53px;
    width: 9px;
    background: #000;
    float: left;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.top-menu-image img {
    display: block;
    float: left;
    height: 38px;
    margin: 5px 5px 0;
    width: 40px;
}

.top-menu-text {
    line-height: 53px;
    color: #fff;
}

#panel-nav li a#parent:hover, #panel-nav li a.active {
    background: url("../images/panel-menu-parent-icon.png") no-repeat scroll 178px 18px transparent;
}

#panel-nav li a#children:hover, #panel-nav li a.c-active {
    background: url('../../../neomag/framework/images/panel-child-nav-hover.png');
    background-position: 423px;
    -moz-box-shadow: 0px 1px 4px #222;
    -webkit-box-shadow: 0px 1px 4px #222;
    box-shadow: 0px 1px 4px #222;
}

#panel-nav li ul {
    display: none;
    clear: both;
    background-color: #1E7490;
}

#panel-nav li ul li a {
    height: 33px;
    width: 200px;
    border: 0px;
    background: none;
}

div.child-menu-image {
    margin: 6px 15px 0px 24px;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    background: url('../images/panel-menu-child-icon.png');
}

.child-menu-text {
    line-height: 33px;
    color: #fff;
}

/* Sidebar */
div.add-more-sidebar {
    width: 31px;
    height: 31px;
    float: left;
    cursor: pointer;
    margin-left: 12px;
    background: url('../images/add-more.png');
}

input[type="text"]#add-more-sidebar {
    width: 158px;
    float: left;
    color: #999;
    font-style: italic;
}

.default-sidebar-item {
    display: none;
}

.sidebar-item {
    display: none;
    clear: both;
    padding: 6px;
    margin-bottom: 8px;
    background: #ededed;
}

.selected-sidebar {
    padding: 8px 8px 0px 8px;
    margin: 0px 20px 20px 20px;
    border: 1px solid #ededed;
}

.slider-item-text {
    color: #fff;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border: 1px solid #484848;
    background: url("../images/bg-button.png") repeat-x;
}

.panel-delete-sidebar {
    background: url("../../../neomag/framework/images/delete-item.png") no-repeat scroll 0 0 transparent;
    bottom: -12px;
    cursor: pointer;
    float: right;
    height: 40px;
    position: relative;
    width: 23px;
}

/* Font */
div.add-more-font {
    width: 31px;
    height: 31px;
    float: left;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 30px;
    background: url('../images/add-more.png');
}

.panel-add-more-title {
    float: left;
    line-height: 31px;
}

.default-font-item {
    display: none;
}

.font-item {
    display: none;
}

.panel-font-sample {
    padding: 10px;
    font-size: 30px;
    border: 1px solid #ddd;
    margin: 0px 0px 20px 0px;
    width: 181px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.added-font {
    padding: 7px 7px 0px 7px;
    margin: 20px 20px 20px 20px;
    background: #fff;
    border: 1px solid #ededed;
}

.font-item {
    margin-bottom: 7px;
    background: #f3f3f3;
    position: relative;
    padding-bottom: 20px;
}

.font-item input[type='text'] {
    background: #fff !important;
}

.inner-font-item {
    padding: 18px 0px 0px 20px;
    clear: both;
}

.panel-font-title {
    margin-right: 15px;
    width: 80px;
    line-height: 31px;
    float: left;
}

.panel-delete-font {
    top: 7px;
    right: 7px;
    position: absolute;
    height: 15px;
    background: url('../images/close-red.png');
    width: 14px;
}

/* Input Css */
div.sliderbar {
    margin-top: 8px;
    float: left;
    width: 329px;
}

.panel-body {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}

.panel-body-gimmick {
    width: 4px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    border-top: 1px solid #fff;
    background-color: #f2f2f2;
}

.panel-input {
    min-width: 203px;
    padding: 20px 0px 30px 20px;
    margin-right: 35px;
    float: left;
}

.panel-title {
    padding-top: 11px;
    padding-left: 20px;
    margin-right: 4px;
    color: #6c6c6c;
    font-size: 13px;
    font-weight: bold;
    -moz-box-shadow: inset 0px 1px 4px #f8f8f8;
    -webkit-box-shadow: inset 0px 1px 4px #f8f8f8;
    box-shadow: inset 0px 1px 4px #f8f8f8;
}

.panel-description {
    float: left;
    background: url('../images/description-border.png') repeat-y;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0px 10px 30px;
    max-width: 265px;
    font-size: 11px;
    color: #777;
}

input.slidertext {
    margin-left: 20px;
    width: 50px !important;
    height: 21px;
    border: 1px solid #e3e3e3;
    -moz-box-shadow: 1px 1px 3px #f5f5f5;
    -webkit-box-shadow: 1px 1px 3px #f5f5f5;
    box-shadow: 1px 1px 3px #f5f5f5;
}

#slidertext {
    background-color: #FAFAFA;
    border: 1px solid #E3E3E3;
    box-shadow: 1px 1px 3px #F5F5F5;
    height: 21px;
    line-height: 21px;
    margin-left: 120px;
    position: absolute;
    right: 167px;
    text-align: center;
    width: 50px !important;
}

input, textarea {
    color: #444;
}

input[readonly] {
    background: transparent;
}

input[type="text"] {
    width: 201px;
    padding: 7px;
    background-color: #fafafa;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

input[type="text"].miniColors {
    width: 171px;
}

input[type="submit"],  input[type="submit"] :hover {
    float: left;
}

input[type="submit"],  input[type="submit"] :hover, input[type="button"],  input[type="button"] :hover {
    background: url(../images/buttonbg.png) 	repeat-x;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #FFFFFF !important;
    cursor: pointer;
    float: right;
    font-size: 14px;
    left: 11px;
    margin-right: 20px;
    padding: 6px 10px;
    position: relative;
    text-decoration: none;
    top: -2px;
}

#cp_load_default_color_button,
#import-dummies-data {
    float: left;
    margin-left: 0px !important;
}

. {
    float: right;
    margin: 25px 20px 0px 0px;
}

.tail-save-changes {
    float: right;
    margin: 20px 20px 0px 0px !important;
}

.loading-save-changes {
    float: left;
    width: 32px;
    height: 32px;
}

.now-loading {
    width: 32px;
    height: 32px;
    background: url('../images/loading.gif');
}

#import-now-loading {
    margin-left: 10px;
    margin-top: -2px;
    float: left;
    display: none;
}

textarea {
    width: 201px;
    height: 90px;
    padding-left: 6px;
    background-color: #fafafa;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

select {
    z-index: 10;
    width: 201px;
    height: 29px;
    color: #848484;
    margin: 4px 0px 0px 0px;
    position: relative;
    background: transparent;
}

.combobox {
    position: relative;
}

input[type="checkbox"].checkbox-switch {
    display: none;
}

div.checkbox-switch-on {
    width: 82px;
    height: 28px;
    background: url('../../../neomag/framework/images/checkbox-switch-on.png');
}

div.checkbox-switch-off {
    width: 82px;
    height: 28px;
    background: url('../../../neomag/framework/images/checkbox-switch-off.png');
}

span[rel='combobox'] {
    position: absolute;
    float: left;
    left: 0px;
    width: 201px;
    height: 29px;
    color: #848484;
    line-height: 29px;
    text-indent: 10px;
    background: url(../images/select-box.png) no-repeat 0 0;
    cursor: default;
}
/* radio-image */
div.radio-image-wrapper input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
}

div.radio-image-wrapper img {
    display: block;
}

div.radio-image-wrapper label .cp_background_pattern {
    height: 72px;
    width: 72px;
}

div.radio-image-wrapper {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

div.panel-radioimage {
    margin-top: 30px;
    margin-bottom: 20px;
}

div.check-list {
    bottom: 10px;
    right: 11px;
    width: 16px;
    height: 13px;
    position: absolute;
    background: url("../images/check-list.png");
}

.links {
    background: url("../../../neomag/framework/images/left_head.png") repeat-y scroll 0 0 #1A222E;
    border-color: #3E4E5F #000000 #10171F #3E4E5F;
    border-style: solid;
    border-width: 1px 1px 10px;
    height: 158px;
    margin-bottom: 1px;
    overflow: hidden;
}

.links .theme_meta {
    margin: auto;
    padding-top: 27px;
    width: 285px;
}

.links .theme_meta .theme_img {
    float: left;
}

.links .theme_meta .theme_img img {
    background: none repeat scroll 0 0 #141B25;
    border: 1px solid #0A1119;
    padding: 9px;
}

.links .theme_meta .theme_links {
    float: right;
    width: 126px;
}

.links .theme_meta .theme_links li {
    margin-bottom: 13px;
}

.links .theme_meta .theme_links li a {
    background: url("../../../neomag/framework/images/links_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #141B25;
    color: #D2D2D2;
    display: block;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #000711;
}

.links .theme_meta .theme_links li a:hover {
    background-position: 0 bottom;
}

/*** CP-Back-End Style Sheet ***/
#portfolio-category.manage-column.column-portfolio-category {
    width: 18%;
}

#testimonial-category.manage-column.column-testimonial-category {
    width: 18%;
}

#price-table-category.manage-column.column-price-table-category {
    width: 18%;
}

#portfolio-tags.manage-column.column-portfolio-tags {
    width: 18%;
}

#author.manage-column.column-author {
    width: 12%;
}

/*** Image Picker Style Sheet ***/
/* Selected Image */
div.selected-image {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px dashed #999999;
    min-height: 250px;
    padding-top: 1px;
    position: relative;
}

.selected-image-wrapper img {
    display: block;
}

.selected-image-wrapper {
    position: relative;
    cursor: pointer;
}

#selected-image-none {
    margin: 107px auto;
    width: 342px;
    color: #797979;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px #FFFFFF;
}

.selected-image ul li {
    float: left;
    margin: 20px 0px 0px 20px;
}

.selected-image ul li img {
    height: 72px;
    width: 96px;
}

.selected-image-element {
    background: none repeat scroll 0 0 #DDDDDD;
    position: absolute;
    right: 0;
    top: 0;
}

.unpick-image {
    background: url("../../../neomag/framework/images/delete-item.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 16px;
    width: 15px;
}

.edit-image {
    background: url("../images/edit-item.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 16px;
    margin-right: 2px;
    width: 16px;
}

.show-media {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    padding: 3px 12px 3px 12px;
    color: #999;
}

#show-media-text {
    font-size: 10px;
    float: left;
}

.loading-media-image {
    margin: 2px 0px 0px 5px;
    float: left;
    width: 16px;
    height: 11px;
    background: url('../images/loading2.gif');
}

.slider-detail-wrapper {
    position: absolute;
    z-index: 30;
    margin-left: -179px;
    min-width: 358px;
    top: 10px;
    left: 50%;
    padding: 4px;
    display: none;
    background: url('../images/edit-slider-boverlay.png');
}

.slider-detail {
    padding-top: 7px;
    z-index: 31;
    background: url('../images/edit-slider-woverlay.png');
}

li.default {
    display: none;
}

li.slider-image-init {
    padding: 5px;
    background-color: #ffffff;
    -moz-box-shadow: 1px 1px 4px #ccc;
    -webkit-box-shadow: 1px 1px 4px #ccc;
    box-shadow: 1px 1px 4px #ccc;
}

/* Media Image Gallery */
div.media-image-gallery-wrapper {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: url('../images/cp-media-bg.png');
    min-height: 30px;
    margin-top: 20px;
}
.media-image-gallery {
    position: relative;
}

.media-image-gallery ul {
    margin-top: 30px;
    margin-left: 20px;
}

.media-image-gallery ul li {
    float: left;
    margin: 0px 20px 20px 0px;
}

.media-image-gallery ul li img {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #BBBBBB;
    cursor: pointer;
    display: block;
    height: 72px;
    padding: 4px;
    width: 96px;
    -moz-box-shadow: 1px 1px 3px #bbb;
    -webkit-box-shadow: 1px 1px 3px #bbb;
    box-shadow: 1px 1px 3px #bbb;
}

.media-title {
    font-weight: bold;
    color: #797979;
    font-size: 14px;
    margin: 30px 0px 0px 20px;
    float: left;
    text-shadow: #fff 2px 2px;
}

.media-gallery-nav {
    margin: 0px 20px 0px 20px;
    float: right;
}

.media-gallery-nav ul li {
    list-style: none;
    margin: 0px;
    color: #7f7f7f;
    background-color: #ddd;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    text-align: center;

    line-height: 20px;
    border: 1px solid #d4d4d4;
    background-image: url('../images/cp-nav-bg.png');
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.media-gallery-nav ul a li {
    color: #adadad;
    background-color: #f0f0f0;
}

.media-gallery-nav ul a li.nav-first {
    color: #adadad;
    background-image: url('../images/nav-first.png');
}

.media-gallery-nav ul a li.nav-last {
    color: #adadad;
    background-image: url('../images/nav-last.png');
}

.media-gallery-nav ul a:hover li {
    color: #7f7f7f;
    background-color: #ddd;
    cursor: pointer;
}

.slider-placeholder {
    float: left;
}

/*** Meta Style Sheet ***/
div#meta-header {
    margin-left: 20px;
}

.meta-body {
    line-height: 135%;
}

.meta-title {
    font-weight: bold;
    color: #797979;
    padding-top: 30px;
    margin-left: 20px;
    text-shadow: #fff 0px 1px;
    font-size: 13px;
}

.meta-detail-title {
    padding-top: 20px;
    margin-top: 0px  !important;
    margin-left: 20px !important;
}

.meta-input {
    float: left;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.meta-detail-input {
    margin: 15px 0px 20px 20px !important;
}

.meta-detail-done-wrapper {
    padding: 15px;
    margin-top: 10px;
    background-color: #e6e6e6;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #f1f1f1;
    -moz-box-shadow: 0px -1px 3px #e1e1e1;
    -webkit-box-shadow: 0px -1px 3px #e1e1e1;
    box-shadow: 0px -1px 3px #e1e1e1;
}

.meta-detail-done-wrapper input[type="button"] {
    float: right;
    background-color: #e9d462 !important;
}

.only-description {
    color: #9d9d9d;
    margin-top: 20px;
    padding-left: 20px;
    max-width: 420px;
}

.meta-description {
    float: left;
    background: url('../images/description-border.png') repeat-y;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    max-width: 280px;
    color: #9d9d9d;
}

.meta-input input, .meta-input textarea {
    color: #444;
}

.meta-input input[type="text"] {
    width: 201px;
    padding: 7px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.meta-input select {
    z-index: 10;
    width: 201px;
    height: 29px;
    color: #848484;
    padding: 0px;
    position: relative;
    background: transparent;
}

.meta-input textarea {
    width: 201px;
    height: 90px;
    padding-left: 6px;
    margin-right: 20px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.meta-input input[type="button"],  input[type="button"] :hover, input[type="button"].cp-button, input[type="button"].cp-button:hover {
    background: url(../images/buttonbg.png) 	repeat-x;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #FFFFFF !important;
    cursor: pointer;
    float: right;
    font-size: 14px;
    left: 11px;
    margin-right: 20px;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    top: -2px;
}

.combobox {
    position: relative;
}

span[rel='combobox'] {
    position: absolute;
    float: left;
    left: 0px;
    width: 201px;
    height: 29px;
    color: #848484;
    line-height: 29px;
    text-indent: 10px;
    background: url(../images/select-box.png) no-repeat 0 0;
    cursor: default;
}

.radio-image-wrapper {
    float: left;
    position: relative;
    margin-right: 20px;
}

.radio-image-wrapper input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.check-list {
    bottom: 7px;
    height: 12px;
    position: absolute;
    right: 11px;
    width: 16px;
    background: url("../images/check-list.png");
}

.meta-input-example-image {
    margin-bottom: 20px;
}

div#cp-overlay-wrapper {
    min-width: 560px;
    position: relative;
    background: url("../images/cp-meta-bg.png") repeat-x;
}

#post-option .inside, #testimonial-option .inside, #portfolio-option .inside, #price-table-option .inside, #gallery-option .inside {
    margin: 0px;
    padding: 0px;
}

#testimonial-option #cp-overlay-wrapper, #portfolio-option, 
#price-table-option #cp-overlay-wrapper {
    padding-bottom: 20px;
}

.post-option-meta {
    padding-bottom: 10px;
}

div.meta-body.page-option-item-column-text-wrapper div.meta-input {
    float: none;
}

.meta-body .meta-input textarea.page-option-item-column-text {
    width: 100%;
    min-height: 250px;
}

br.clear {
    clear: both;
    height: 0px;
    display: block;
}

hr.separator {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ddd;
    width: 100%;
}

.mt10 {
    margin-top: 10px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.pt20 {
    padding-bottom: 20px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.ml0 {
    margin-left: 0px !important;
}

/*** Page-Draging Style Sheet ***/
/* page-element-item */
div.element1-4 {
    width: 25%;
}

.element1-3 {
    width: 33.33%;
}

.element1-2 {
    width: 50%;
}

.element2-3 {
    width: 66.67%;
}

.element3-4 {
    width: 75%;
}

.element1-1 {
    width: 100%;
}

#cp-edit-box {
    padding-top: 1px;
    position: fixed;
    top: 50px;
    left: 10%;
    width: 70%;
    left: 15%;
}

.page-element-item-bg {
    border: 6px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    margin: 2px;
}

.drag-arrows {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    cursor: move;
    height: 19px;
    left: 58px;
    position: relative;
    top: -27px;
    width: 21px;
    ;
}

div.page-element-item {
    background: url("../images/bg-button.png") repeat-x scroll left top #AAAAAA;
    border: 6px solid #EDEDED;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    margin: 3px;
    text-align: center;
    word-wrap: break-word;
    z-index: 3;
}

.page-element-item-text {
    color: #fff;
    line-height: 39px;
}

.item-bar-left {
    float: left;
}

.item-bar-right {
    position: absolute;
    top: 1px;
    right: 1px;
}

.page-element-edit-box {
    display: none;
    background-color: #fff;
}

.change-element-property {
    float: left;
}

.change-element-size {
    float: left;
}

.add-element-size {
    background-image: url("../images/add-item.png");
    bottom: -9px;
    height: 19px;
    left: 22px;
    position: relative;
    width: 21px;
}

.sub-element-size {
    background-image: url("../images/sub-item.png");
    height: 19px;
    position: relative;
    top: -10px;
    width: 21px;
}

.element-size-text {
    background-color: #3A3A3A;
    border: 1px solid;
    color: #EEEEEE;
    float: left;
    left: 41px;
    letter-spacing: 2px;
    margin-top: 11px;
    padding: 0 2px;
    position: relative;
    top: -30px;
    visibility: hidden;
}

.element-size-text: {
    visibility: visible;
}

.delete-element {
    background: url("../../../neomag/framework/images/delete-item.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    left: 12px;
    position: relative;
    top: -2px;
    width: 41px;
}

.edit-element {
    background: url("../images/edit-item.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    left: -10px;
    position: relative;
    top: 18px;
    width: 35px;
}
/* Element lists */
select#page-select-element-list {
    float: left;
}

input[type="button"].page-add-item-button, input[type="button"].page-add-item-button:hover {
}

div.page-element-lists {
    display: none;
}

.page-element {
    float: left;
    position: relative;
}

.page-select-element-list-wrapper {
    float: left;
}
/* page-selected-elements */
div.page-methodology {
    background-color: #FFFFFF;
    border: 3px dashed #999999;
    margin: 10px 20px 20px;
    padding: 11px;
}

.page-selected-elements-wrapper {
}

.page-selected-elements {
    padding: 6px 6px 6px 0px;
}

.placeholder {
    margin: 2px 0px 6px 0px;
    height: 39px;
    float: left;
    background-color: #fff;
    border: 2px dashed #999;
}
/* Overlay wrapper */
div#cp-overlay-wrapper {
    min-width: 625px;
    position: relative;
    background: url("../images/cp-meta-bg.png") repeat-x;
    padding-bottom: 20px;
}

#cp-overlay-content {
    width: 100%;
    position: relative !important;
}

#page-option .inside {
    margin: 0px;
    padding: 0px;
}

#cp-overlay {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    background-color: #000;
}

#cp-overlay2 {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 22px;
    background-color: black;
    opacity: 0.24;
    filter: alpha(opacity=24);
    z-index: 21;
}

#cp-inline-wrapper {
    margin: 29px;
    margin-bottom: 29px;
    display: block;
    position: relative;
    overflow: scroll;
    background-color: #f3f3f3;
    z-index: 22;
}

#close-cp-edit-box {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url("../images/close.png");
}

.cp-inline-header-inner-wrapper {
    display: inline-block;
}

.cp-head-edit-img {
    float: left;
    width: 16px;
    height: 16px;
    border: 0px;
    margin-left: 8px;
    background: url("../images/edit-item.png");
}

.cp-inline-header-text {
    float: left;
    line-height: 16px;
    font-size: 14px;
    color: #797979;
    font-weight: bold;
}

.cp-inline-header-wrapper {
    margin: 0px auto;
    padding: 14px;
    position: relative;
    text-align: center;
    background-color: #e6e6e6;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #f1f1f1;
    -moz-box-shadow: 0px 1px 3px #e1e1e1;
    -webkit-box-shadow: 0px 1px 3px #e1e1e1;
    box-shadow: 0px 1px 3px #e1e1e1;
}

.cp-inline-footer {
    bottom: 0px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #e6e6e6;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #f1f1f1;
    -moz-box-shadow: 0px -1px 3px #e1e1e1;
    -webkit-box-shadow: 0px -1px 3px #e1e1e1;
    box-shadow: 0px -1px 3px #e1e1e1;
}

#cp-inline-edit-done {
    float: right;
}
/* Tab Style */
div.added-tab li.default {
    display: none;
}

.unpick-tab {
    top: 7px;
    right: 7px;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../images/close-red.png') no-repeat;
}

.page-item-tab {
    position: relative;
    float: left;
    list-style: none;
    display: none;
    margin-right: 20px;
    padding: 12px 12px 25px 12px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    -moz-box-shadow: 0px 1px 5px #e8e8e8;
    -webkit-box-shadow: 0px 1px 5px #e8e8e8;
    box-shadow: 0px 1px 5px #e8e8e8;
}

.page-item-tab input, .page-item-tab textarea {
    margin-right: 0px;
    background-color: #fafafa !important;
}

.meta-tab {
    float: left;
    line-height: 31px;
}

.meta-tab-title {
    margin: 20px 0px 15px 0px;
}

#page-tab-add-more {
    width: 31px;
    height: 31px;
    float: left;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 30px;
    background: url('../images/add-more.png');
}

/*** jQuery UI-1.8.16 - Custom - Style Sheet ***/

/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */


/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix {
    display: inline-block;
}
/* required comment for clearfix to work in Opera */
* html .ui-helper-clearfix {
    height: 1%;
}

.ui-helper-clearfix {
    display: block;
}
/* end clearfix */
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #eeeeee url(../images/jquery-ui/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
    color: #333333;
}

.ui-widget-content a {
    color: #333333;
}

.ui-widget-header {
    border: 1px solid #e78f08;
    background: #f6a828 url(../images/jquery-ui/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header a {
    color: #ffffff;
}

/* Interaction states
----------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #f6f6f6 url(../images/jquery-ui/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #fbcb09;
    background: #fdf5ce url(../images/jquery-ui/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #c77405;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #c77405;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #ffffff url(../images/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #eb8f00;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #eb8f00;
    text-decoration: none;
}

.ui-widget :active {
    outline: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #fed22f;
    background: #ffe45c url(../images/jquery-ui/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
    color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
    color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #b81900 url(../../../neomag/framework/images/jquery-ui/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
    color: #ffffff;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #ffffff;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #ffffff;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/jquery-ui/ui-icons_222222_256x240.png);
}

.ui-widget-content .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_ffffff_256x240.png);
}

.ui-state-default .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_ef8c08_256x240.png);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_ef8c08_256x240.png);
}

.ui-state-active .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_ef8c08_256x240.png);
}

.ui-state-highlight .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_228ef1_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(../images/jquery-ui/ui-icons_ffd27a_256x240.png);
}

/* positioning */
.ui-icon-carat-1-n {
    background-position: 0 0;
}

.ui-icon-carat-1-ne {
    background-position: -16px 0;
}

.ui-icon-carat-1-e {
    background-position: -32px 0;
}

.ui-icon-carat-1-se {
    background-position: -48px 0;
}

.ui-icon-carat-1-s {
    background-position: -64px 0;
}

.ui-icon-carat-1-sw {
    background-position: -80px 0;
}

.ui-icon-carat-1-w {
    background-position: -96px 0;
}

.ui-icon-carat-1-nw {
    background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.ui-icon-extlink {
    background-position: -32px -80px;
}

.ui-icon-newwin {
    background-position: -48px -80px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon-shuffle {
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.ui-icon-folder-open {
    background-position: -16px -96px;
}

.ui-icon-document {
    background-position: -32px -96px;
}

.ui-icon-document-b {
    background-position: -48px -96px;
}

.ui-icon-note {
    background-position: -64px -96px;
}

.ui-icon-mail-closed {
    background-position: -80px -96px;
}

.ui-icon-mail-open {
    background-position: -96px -96px;
}

.ui-icon-suitcase {
    background-position: -112px -96px;
}

.ui-icon-comment {
    background-position: -128px -96px;
}

.ui-icon-person {
    background-position: -144px -96px;
}

.ui-icon-print {
    background-position: -160px -96px;
}

.ui-icon-trash {
    background-position: -176px -96px;
}

.ui-icon-locked {
    background-position: -192px -96px;
}

.ui-icon-unlocked {
    background-position: -208px -96px;
}

.ui-icon-bookmark {
    background-position: -224px -96px;
}

.ui-icon-tag {
    background-position: -240px -96px;
}

.ui-icon-home {
    background-position: 0 -112px;
}

.ui-icon-flag {
    background-position: -16px -112px;
}

.ui-icon-calendar {
    background-position: -32px -112px;
}

.ui-icon-cart {
    background-position: -48px -112px;
}

.ui-icon-pencil {
    background-position: -64px -112px;
}

.ui-icon-clock {
    background-position: -80px -112px;
}

.ui-icon-disk {
    background-position: -96px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.ui-icon-zoomin {
    background-position: -128px -112px;
}

.ui-icon-zoomout {
    background-position: -144px -112px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-wrench {
    background-position: -176px -112px;
}

.ui-icon-gear {
    background-position: -192px -112px;
}

.ui-icon-heart {
    background-position: -208px -112px;
}

.ui-icon-star {
    background-position: -224px -112px;
}

.ui-icon-link {
    background-position: -240px -112px;
}

.ui-icon-cancel {
    background-position: 0 -128px;
}

.ui-icon-plus {
    background-position: -16px -128px;
}

.ui-icon-plusthick {
    background-position: -32px -128px;
}

.ui-icon-minus {
    background-position: -48px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -128px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon-key {
    background-position: -112px -128px;
}

.ui-icon-lightbulb {
    background-position: -128px -128px;
}

.ui-icon-scissors {
    background-position: -144px -128px;
}

.ui-icon-clipboard {
    background-position: -160px -128px;
}

.ui-icon-copy {
    background-position: -176px -128px;
}

.ui-icon-contact {
    background-position: -192px -128px;
}

.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon-video {
    background-position: -224px -128px;
}

.ui-icon-script {
    background-position: -240px -128px;
}

.ui-icon-alert {
    background-position: 0 -144px;
}

.ui-icon-info {
    background-position: -16px -144px;
}

.ui-icon-notice {
    background-position: -32px -144px;
}

.ui-icon-help {
    background-position: -48px -144px;
}

.ui-icon-check {
    background-position: -64px -144px;
}

.ui-icon-bullet {
    background-position: -80px -144px;
}

.ui-icon-radio-off {
    background-position: -96px -144px;
}

.ui-icon-radio-on {
    background-position: -112px -144px;
}

.ui-icon-pin-w {
    background-position: -128px -144px;
}

.ui-icon-pin-s {
    background-position: -144px -144px;
}

.ui-icon-play {
    background-position: 0 -160px;
}

.ui-icon-pause {
    background-position: -16px -160px;
}

.ui-icon-seek-next {
    background-position: -32px -160px;
}

.ui-icon-seek-prev {
    background-position: -48px -160px;
}

.ui-icon-seek-end {
    background-position: -64px -160px;
}

.ui-icon-seek-start {
    background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
    background-position: -80px -160px;
}

.ui-icon-stop {
    background-position: -96px -160px;
}

.ui-icon-eject {
    background-position: -112px -160px;
}

.ui-icon-volume-off {
    background-position: -128px -160px;
}

.ui-icon-volume-on {
    background-position: -144px -160px;
}

.ui-icon-power {
    background-position: 0 -176px;
}

.ui-icon-signal-diag {
    background-position: -16px -176px;
}

.ui-icon-signal {
    background-position: -32px -176px;
}

.ui-icon-battery-0 {
    background-position: -48px -176px;
}

.ui-icon-battery-1 {
    background-position: -64px -176px;
}

.ui-icon-battery-2 {
    background-position: -80px -176px;
}

.ui-icon-battery-3 {
    background-position: -96px -176px;
}

.ui-icon-circle-plus {
    background-position: 0 -192px;
}

.ui-icon-circle-minus {
    background-position: -16px -192px;
}

.ui-icon-circle-close {
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.ui-icon-circle-check {
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
    background: #666666 url(../../../neomag/framework/images/jquery-ui/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
    opacity: .50;
    filter: Alpha(Opacity=50);
}

.ui-widget-shadow {
    margin: -5px 0 0 -5px;
    padding: 5px;
    background: #000000 url(../../../neomag/framework/images/jquery-ui/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
    opacity: .20;
    filter: Alpha(Opacity=20);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal {
    height: 7px;
    background: url('../images/size-slider-bg.png');
    border: 0px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
    background: url('../images/size-slider-button.png');
    width: 13px;
    height: 14px;
    border: 0px;
    margin-top: 1px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

/*** jQuery-Confirm Style Sheet ***/
#confirmOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

#confirmBox {
    background: url('../images/save-complete-bg.png');
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px;
    -moz-box-shadow: inset 1px 1px 30px #444;
    -webkit-box-shadow: inset 1px 1px 30px #444;
    box-shadow: inset 1px 1px 30px #444;
}

#confirmText {
    padding-top: 50px;
    font-size: 17px;
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
    color: #fff;
}

#confirmButtons {
    padding: 25px 0 40px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

#confirmBox .button {
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 50px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin-right: 20px;
    padding: 5px 20px;
    text-decoration: none;
}

#confirmBox .confirm-no {
    color: #000 !important;
    background: -moz-linear-gradient(center top , #78f000, #66cc00);
    background: -webkit-gradient(linear, center top, center bottom, from(#78f000), to(#66cc00));
}

#confirmBox .confirm-yes {
    background: -moz-linear-gradient(center top , #f40000, #cc0000);
    background: -webkit-gradient(linear, center top, center bottom, from(#f40000), to(#cc0000));
}

/*** jQuery-Mini-Color Style Sheet ***/
.miniColors-trigger {
    height: 22px;
    width: 22px;
    background: url(../images/trigger.png) center no-repeat;
    vertical-align: middle;
    margin-left: 8px;
    display: inline-block;
    outline: none;
}

.miniColors-selector {
    position: absolute;
    width: 175px;
    height: 150px;
    background: #FFF;
    border: solid 1px #BBB;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    z-index: 999999;
}

.miniColors-selector.black {
    background: #000;
    border-color: #000;
}

.miniColors-colors {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 150px;
    background: url(../images/gradient.png) center no-repeat;
    cursor: crosshair;
}

.miniColors-hues {
    position: absolute;
    top: 5px;
    left: 160px;
    width: 20px;
    height: 150px;
    background: url(../images/rainbow.png) center no-repeat;
    cursor: crosshair;
}

.miniColors-colorPicker {
    position: absolute;
    width: 11px;
    height: 11px;
    background: url(../images/circle.gif) center no-repeat;
}

.miniColors-huePicker {
    position: absolute;
    left: -3px;
    width: 26px;
    height: 3px;
    background: url(../../../neomag/framework/images/line.gif) center no-repeat;
}