﻿/*

Theme Name: Minha Casa Solar 
Theme URI: https://www.minhacasasolar.com.br/
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Fundada em 2010, a Minha Casa Solar nasceu com o compromisso de levar a energia solar fotovoltaica a todas as regiões do Brasil. À época, quem desejava adquirir um sistema fotovoltaico encontrava dificuldades para encontrar os equipamentos e para obter orientação sobre o assunto, mesmo nas grandes cidades brasileiras. Desde o início das atividades, a Minha Casa Solar vem contribuindo para que todos os consumidores do Brasil tenham acesso à energia solar fotovoltaica. Isso ocorreu através do lançamento da maior loja na internet especializada em energia fotovoltaica: www.minhacasasolar.com.br; da formação de uma equipe de atendimento técnico que respira energia fotovoltaica diariamente e do desenvolvimento de uma estrutura logística que permitiu atender todos os municípios do país.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Painel Solar.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}
a{
  outline: none;
}

/* BODY */
  body{
    background: #fafafa;
  }

/* TOPO */
  .topo{
    padding: 0 10px;
  }
  header{

  }
    .topo .containerMenu{
      padding: 20px 0 0;
    }
      
      .topo .containerMenu .logo{

      }
        .topo .containerMenu .logo a{
          display: block;
          padding: 0 0 5px 0;
        }
          .topo .containerMenu .logo img{

          }
      .topo .navbar{
        margin: 0
      }
        .topo .navbar button{
          border: solid 1px #ccc;
          margin: 0 20px;
          display: none;
        } 
          .topo .navbar button span{
            background: #ccc;
          }  
        .topo .navbar .navbar-header{
          float: initial;
          width: 100%;
          text-align: right;
        } 
          .topo .navbar .navbar-header nav{
        
          }  
            .topo .navbar .navbar-header nav ul{
              float: initial;
              width: 100%;
              text-align: right;
              display: inline-block;
              max-width: 630px;
            } 
              .topo .navbar .navbar-header nav ul li{
                float: initial;
                display: inline-block;
                padding: 5px;
              }
                .topo .navbar .navbar-header nav ul li a{
                  color: rgba(38,38,38,0.51); 
                  font-family: "Open Sans"; 
                  font-size: 14px;  
                  line-height: 19px;
                  text-align: center;
                }
                .topo .navbar .navbar-header nav ul li a[title]{
                  
                }
                  .topo .navbar .navbar-header nav ul li a:before{
                    content: attr(title);
                    display: block;
                    margin-top: 0;
                    color: rgba(38,38,38,0.51); 
                    font-family: "Open Sans"; 
                    font-size: 14px;  
                    text-decoration: none;
                    font-weight: bold;
                    height: 1px;
                    overflow: hidden;
                    visibility: hidden;
                    background-color: #000;
                  }
                  .topo .navbar .navbar-header nav ul li a:focus{
                    background: transparent!important;
                  }
                  .topo .navbar .navbar-header nav ul li a:active{
                    background: transparent!important;
                  }
                  .topo .navbar .navbar-header nav ul li a:hover{
                    background: transparent!important;
                    /*font-weight: bold;*/
                    cursor: pointer;
                  }

                  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
                    background: transparent!important;
                  }
    .topo .pesquisar{
      display: inline-block;
      max-width: 30px;
      position: relative;
      width: 100%;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
    }
      .topo .pesquisar input[type="submit"]{
        background: url(img/Group8.png) no-repeat;
        color: transparent;
        border: none;
        width: 22px;
        height: 22px;
        position: absolute;
        right: 0;
        outline: none;
        top: 0;
      }
      .topo .pesquisar input[type="text"]{
        display: block;
        width: 100%;
        border: none;
        border-bottom: solid 1px #ccc;
        outline: none;
        height: 25px;
        opacity: 0;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        padding-right: 25px;
        color: rgba(38,38,38,0.51); 
        font-family: "Open Sans"; 
        font-size: 14px;  
        background: transparent;
      }
      .topo .pesquisar.abrirAreaPesquisar{
        max-width: 190px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
      }
      .topo .pesquisar.abrirAreaPesquisar input[type="text"]{
        opacity: 1;
        transition: .7s;
        -webkit-transition: .7s;
        -moz-transition: .7s;
        -o-transition: .7s;

      } 
      .topo .pesquisar.abrirAreaPesquisar input[type="submit"]{
        background: url(img/if_Arrow_Forward_1063879.png);
        width: 32px;

      } 
  .sub-menu.dropdown-menu{
    /*******************************/
    display: block!important;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    margin: 0;
  }
  .menu-item-object-category:hover {
    width: 100%;
    background-color: #faa633;
    transition: all linear .2s;
  }
  .menu-item-object-category:hover > a {
    color: #fff!important;

  }
  
  .topo .navbar .navbar-header nav ul li:hover > .sub-menu.dropdown-menu {
    transition: all linear .5s;
    text-align: left;
    max-height: 500px;
    overflow: none;
  }
  .topo .navbar .navbar-header nav ul li:hover > .sub-menu.dropdown-menu > .dropdown-menu>li>a {
    color: #fff!important;
    transition: all linear .5s;
  }
 
   .dropdown.open .sub-menu.dropdown-menu li{
    display: block;
    padding: 0 5px 5px 5px; 
    width: 100%;
    
  }
  .dropdown.open .sub-menu.dropdown-menu a{
    padding: 0;
  }
  .topo.topoFixo .navbar .navbar-header nav  .dropdown.open .sub-menu.dropdown-menu a{
    padding: 0;
  }
  .dropdown-menu>li>a{
    text-align: left!important;
    padding: 10px;
  }
  .dropdown-menu>li {
    margin: 0!important;
    width: 100%;
    padding: 5px;
  }

                  
/*RODAPÉ*/
  .rodape{
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding-bottom: 70px;
    padding-top: 50px;
    background: #fff;
   
  }
    .rodape .sub-menu.dropdown-menu{
      display: none!important;
      visibility: hidden;
    }
    .rodape .logo{
      margin: 0 auto;
    }
      .rodape .logo img{
        margin-top: 10px;
      }
    .rodape .descricao{
      width: 100%;
      max-width: 250px;
      text-align: left;
    }
      .rodape .descricao h4{
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 16px;  
        font-weight: bold;  
        line-height: 17px;
      }
      .rodape .descricao p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
        font-weight: 300;
      }
    .rodape .menuRodape {
      
    } 
      .rodape .menuRodape strong {
        display: block; 
        margin-top: 10px;
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        font-weight: bold;  
        line-height: 19px;
      }
      .rodape .menuRodape nav {
        
      }
        .rodape .menuRodape nav ul{
          padding: 0;
          margin: 0;
          list-style: none;
        }
          .rodape .menuRodape nav ul li{
            display: block;
            margin: 0;
            width: 100%;
          }
        .rodape .menuRodape nav a{
          display: block;
          margin-top: 10px;
          color: rgba(38,38,38,0.54); 
          font-family: "Open Sans"; 
          font-size: 14px;  
          text-decoration: none;
          padding: 2px;
        }
        .rodape .menuRodape nav a:hover{
          background: transparent;
        }
        .rodape .menuRodape nav a:hover{
          font-weight: bold;
        }
        .rodape .menuRodape nav a:before{
          content: attr(title);
          display: block;
          margin-top: 10px;
          color: rgba(38,38,38,0.54); 
          font-family: "Open Sans"; 
          font-size: 14px;  
          text-decoration: none;
          font-weight: bold;
          height: 1px;
          overflow: hidden;
          visibility: hidden;

        }
     .rodape .redesSociais a{
      display: inline-block;
      width: 44px;
      height: 44px;
      margin: 12px 1px;
      vertical-align: top;

    }
    
    .rodape .redesSociais .facebook{
      border: 1px solid #000;
      border-radius: 100%;
      position: relative;
      color: #000;
    }
      .rodape .redesSociais .facebook i {
        
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
      }
        .rodape .redesSociais .facebook:hover {
          border: 1px solid #3b5998;
          color: #fff;
          background-color: #3b5998;
          transition:All linear .4s;
          -webkit-transition:All linear .4s;
          -moz-transition:All linear .4s;
          -o-transition:All linear .4s;
        }
    .rodape .redesSociais .instagram{
      border: 1px solid #000;
      border-radius: 100%;
      position: relative;
      color: #000;
    }
      .rodape .redesSociais .instagram i {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
      }
        .rodape .redesSociais .instagram:hover {
          border: 1px solid #800080;
          color: #fff;
          background-color: #800080;
          transition:All linear .4s;
          -webkit-transition:All linear .4s;
          -moz-transition:All linear .4s;
          -o-transition:All linear .4s;
        }
    .rodape .redesSociais .linkedin{
      border: 1px solid #000;
      border-radius: 100%;
      position: relative;
      color: #000;
    }
      .rodape .redesSociais .linkedin i{
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
      }
        .rodape .redesSociais .linkedin:hover {
          border: 1px solid #007bb6;
          color: #fff;
          background-color: #007bb6;
          transition:All linear .4s;
          -webkit-transition:All linear .4s;
          -moz-transition:All linear .4s;
          -o-transition:All linear .4s;
        }
        
    .rodape .redesSociais .google{
      border: 1px solid #000;
      border-radius: 100%; 
      position: relative; 
      color: #000;
    }
      .rodape .redesSociais .google i {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
      }
        .rodape .redesSociais .google:hover {
          border: 1px solid #dd4b39;
          color: #fff;
          background-color: #dd4b39;
          transition:All linear .4s;
          -webkit-transition:All linear .4s;
          -moz-transition:All linear .4s;
          -o-transition:All linear .4s;
        }
    .rodape .redesSociais .youtube{
      border: 1px solid #000;
      border-radius: 100%; 
      position: relative; 
      color: #000;
    }
      .rodape .redesSociais .youtube i {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
      }
         .rodape .redesSociais .youtube:hover {
          border: 1px solid #bb0000;
          color: #fff;
          background-color: #bb0000;
          transition:All linear .4s;
          -webkit-transition:All linear .4s;
          -moz-transition:All linear .4s;
          -o-transition:All linear .4s;
          }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }
    .pg .bannerPost{
      display: block;
      height: 376px;
      width: 100%;
      margin: 30px auto 0;
      background-size: cover !important;
      background-position: center !important;
    }
      .pg .bannerPost img{

      }
    .pg .areaNewsllater {
      margin-top: 60px;
      background: #69A586;
      padding: 45px 20px 50px;
      border-radius: 5px;
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 1);
    }

      .pg .areaNewsllater figure{
        max-width: 250px;
        display: block;
        margin: 0 auto 25px;
      }
      .pg .areaNewsllater p{
        color: #fff;
        font-size: 24px;
        max-width: 227px;
        margin: 0 auto 30px;
      }
        .pg .areaNewsllater small{
          position: relative;
          display: block;
        }
        .formError .formErrorContent{
      right: 0;
      top: 59px;
        position: absolute;
        }
      .pg .areaNewsllater .form{
         max-width: 227px;
         margin: 0 auto;
         text-align: right;
      }
        .pg .areaNewsllater .form input[type="text"]{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 53px;
          padding: 10px;
          outline: none;
          color: rgba(38,38,38,0.52); 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
        .pg .areaNewsllater .form input[type="email"]{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 53px;
          padding: 10px;
          outline: none;
          color: rgba(38,38,38,0.52); 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
          /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form input[type="text"]::-webkit-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form input[type="text"]:-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form input[type="text"]::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form input[type="text"]:-ms-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }
           /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form input[type="email"]::-webkit-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form input[type="email"]:-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form input[type="email"]::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form input[type="email"]:-ms-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }


          /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form textarea::-webkit-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form textarea::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form textarea::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form textarea::-ms-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }
        .pg .areaNewsllater .form input[type="submit"]{
            background: transparent;
            color: transparent;
            border: none;
            background: url(img/if_Arrow_Forward_1063879.png);
            width: 35px;
            background-repeat: no-repeat!important;
            outline: none;
            height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            float: right;
        }
    .pg .col-sm-4 aside{
      padding: 0 5px;
    }
    .pg .postsMaislidos {
      margin-top: 40px;
      box-shadow: 0px 0px 32px 0 rgba(0,0,0,0.2);
      width: 100%;
      border-radius: 5px;
      padding: 0 20px;
      padding-bottom: 30px;
    }
      .pg .postsMaislidos span{
        display: block;
        max-width: 289px;
        margin:  0 auto;
        padding-top: 60px;
        text-transform: uppercase;
        color: rgba(38,38,38,0.27);
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 17px
      }
      .pg .postsMaislidos .widget-title{
        display: none;
        
      }
      .pg .postsMaislidos ul{
        display: block;
        max-width: 289px;
        padding-top: 30px;
        margin:  0 auto;
        padding-bottom: 10px;
        list-style: none;
      }
        .pg .postsMaislidos ul li a{
          text-decoration: none;
        }
        .pg .postsMaislidos ul li{
          border-bottom: 1px solid #ccc;
        }
        .pg .postsMaislidos ul li:last-child{
          border: none;
        }
          .pg .postsMaislidos ul li h3{
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
            color: rgba(38,38,38,0.52); 
            text-transform: uppercase;
            font-weight: 600;
          }
          .pg .postsMaislidos ul li h2{
            color: #000; 
            font-family: "Open Sans"; 
            font-size: 20px;
            font-weight: 600;
          }
          .pg .postsMaislidos ul li strong{
            color: #FAA633;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 15px;
            margin-top: 15px;
          }

/*PÁGINA INICIAL*/
  .pg-inicial{
    
  }
    .pg-inicial .containerLagura{
      border-top: solid 1px #ccc;
      padding-top: 50px;
      margin-top: 25px;
      padding-left: 5px;
      padding-right: 5px;
    }
   
      .pg-inicial .carrosselDestaque .item{ 
        width: 100%;
        max-width: 760px;
        min-height: 520px;
        border-radius: 10px;
        background-size: cover!important;
        background-position: center!important;
        position: relative;
        border: solid 3px #fff;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
         .pg-inicial .carrosselDestaque .item:hover{
            background-position: 0px 1%!important;
            transition:All 1s ease;
            -webkit-transition:All 1s ease;
            -moz-transition:All 1s ease;
            -o-transition:All 1s ease;
          }
        .pg-inicial .carrosselDestaque .item a{ 
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, 
          rgba(0, 0, 0, 0.45) 45%, 
          rgba(0, 0, 0, 0.1) 85%, 
          transparent 100%);
          position: absolute;
          border-radius: 10px;

        }
         
          .pg-inicial .carrosselDestaque .item a .tituloDestaque{ 
            width: 100%;
            max-width: 630px;
            padding: 10px;
            position: absolute;
            display: block;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform:translateX(-50%);
            -moz-transform:translateX(-50%);
            -o-transform:translateX(-50%);
          }
            .pg-inicial .carrosselDestaque .item a .tituloDestaque h3{ 
              color: #fff;
              font-weight: 100;
              text-transform: uppercase;
              font-size: 16px;
              font-family: "Open Sans";
            }
            .pg-inicial .carrosselDestaque .item a .tituloDestaque h2{ 
              color: #fff;
              font-size: 36px;
              line-height: 43px;
            }
            .pg-inicial .carrosselDestaque .item a .tituloDestaque strong{ 
                color: #FAA633; 
                font-family: "Open Sans"; 
                font-size: 14px;  
                font-weight: 600;
                text-transform: uppercase;  
                line-height: 19px;
            }
    .pg-inicial .sessaoPosts{
      padding-top: 30px;
      max-width: 760px;
    }
      .pg-inicial .sessaoPosts ul{
        padding: 0;
        list-style: none;
      }
        .pg-inicial .sessaoPosts ul li{
          min-height: 260px;
          position: relative;
        }
        .pg-inicial .sessaoPosts ul li .comentariosPost{
         
          color: #717171;
          position: relative;

        }
        .pg-inicial .sessaoPosts ul li .comentariosPost:before{
          content: "Comentários"!important;
          display: block;
          background: #fafafa;
          position: absolute;
          z-index: 9;
          left: 11px;
          top: -2px;
        }
        .pg-post .postsRelacionados ul li .comentariosPost{
         
          color: #717171;
          position: relative;

        }
        .pg-post .postsRelacionados ul li .comentariosPost:before{
          content: "Comentários"!important;
          display: block;
          background: #fff;
          position: absolute;
          z-index: 999;
          left: 11px;
          top: -2px;
        }
          .pg-inicial .sessaoPosts ul li a.linkPost{
            text-decoration: none;
          }
            .pg-inicial .sessaoPosts ul li a.linkPost h3{
                color: rgba(38,38,38,0.52); 
                font-family: "Open Sans"; 
                font-size: 12px;  
                line-height: 17px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .pg-inicial .sessaoPosts ul li a.linkPost h2{
              color: #262626; 
              font-family: "Open Sans"; 
              font-size: 24px;  
              font-weight: bold;  
              line-height: 28px;
              min-height: 60px;
            }
              .pg-inicial .sessaoPosts ul li a.linkPost:hover h2{
                text-decoration: underline;
              }
              .pg-inicial .sessaoPosts ul li a.linkPost:hover p{
                text-decoration: underline;
              }
            .pg-inicial .sessaoPosts ul li a.linkPost strong{
                color: #FAA633;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
                display: block;
                margin-bottom: 20px;
                margin-top: 15px;
            }
            .pg-inicial .sessaoPosts ul li a.linkPost p{
              color: #717171; 
              font-family: "Open Sans"; 
              font-size: 14px;  
              line-height: 22px;    
              min-height: 40px;
            }
          .pg-inicial .sessaoPosts ul li a.linkPost figure{
            text-align: right;
          }
            .pg-inicial .sessaoPosts ul li a.linkPost figure img{
                display: none;
                width: 100%;
                max-width: 290px;
                border-radius: 5px;
                margin-top: 30px;
                transition: All .1s ease;
                -webkit-transition: All .1s ease;
                -moz-transition: All .1s ease;
                -o-transition: All .1s ease;
                height: 175px;
            }
            .pg-inicial .sessaoPosts ul li a.linkPost figure span{
                display: inline-block;
                width: 100%;
                max-width: 290px;
                border-radius: 5px;
                margin-top: 30px;
                transition: All .1s ease;
                -webkit-transition: All .1s ease;
                -moz-transition: All .1s ease;
                -o-transition: All .1s ease;
                height: 175px;
                background-size:cover!important ;
                background-position:center!important ;
            }
              
    .pg-inicial .paginador{
      display: inline-block;
    }
      .pg-inicial .paginador ul{
        list-style: none;
      }
        .pg-inicial .paginador ul li{
          display: inline-block;
          padding: 10px 3px; 
          color: rgba(38,38,38,0.52);
        }
          .pg-inicial .paginador ul li a{
            text-decoration: none;
            color: rgba(38,38,38,0.52);
            font-size: 18px;
            padding:10px
          }
            .pg-inicial .paginador ul li a:hover{
              color: #fff;
              background: #FAA633;
            }
    .pg-inicial aside{
      padding: 0 15px;
    }
      .pg-inicial aside ul{
        list-style: none;
        padding: 0;
        padding-top: 3px;
        margin: 0;
      }
        .pg-inicial aside ul li{
          margin-bottom: 21px;
        }
          .pg-inicial aside ul li .imagemPost{
            background: url(img/moinho.jpg);
            display: block;
            width: 100%;
            min-height: 155px;
            background-size: cover!important;
            background-position: center!important;
            border-radius: 5px;
            max-width: 110px;
              transition: All 1s ease;
            -webkit-transition: All 1s ease;
            -moz-transition: All 1s ease;
            -o-transition: All 1s ease;
          }
          .pg-inicial aside ul li:hover .imagemPost{
            background-position: 0px 1%!important;
            transition: All 1s ease;
            -webkit-transition: All 1s ease;
            -moz-transition: All 1s ease;
            -o-transition: All 1s ease;
          }
            
        .pg-inicial aside ul li .texto{
          max-width: 230px;
          margin: 0 auto;
        }
          .pg-inicial aside ul li .texto h3{
            color: rgba(38,38,38,0.52);
            font-family: "Open Sans";
            font-size: 12px;
            line-height: 17px;
            text-transform: uppercase;
            margin-bottom: 0;
            margin: 0;
            margin: 0px 0 10px;
            font-weight: 600;

          }
          .pg-inicial aside ul li .texto h2{
            color: #262626;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 0;
            min-height: 80px;

          }
          .pg-inicial aside ul li .texto strong{
            color: #FAA633;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            margin-top: 15px;
          }
    
    .pg-inicial .areaTags{
      margin-top:80px;
    }
      .pg-inicial .areaTags h3{
        color: #262626;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 600;
        line-height: 43px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D8D8D8;
        margin-bottom: 20px;
      }
      .pg-inicial .areaTags .tags{
        min-height: 180px;
      }
        .pg-inicial .areaTags .tags a{
          color: #fff;
          background: #faa633;
          padding: 9px 15px;
          border-radius: 5px;
          text-align: center;
          display: inline-block;
          margin-bottom: 10px;
          text-decoration: none;
        }
          .pg-inicial .areaTags .tags a:hover{
            background: #de8710;
          }
      .pg-inicial .banners {

      }
         .pg-inicial .banners img {
            border-radius: 5px;
            
         }

/*PÁGINA POST*/
  .pg-post{
    
  } 
    .pg-post .containerLagura{
      margin-top: 30px;
    }
    
    .pg-post .estruturaPost{
     padding: 50px 15px;
      max-width: 725px;
    }
      .pg-post .estruturaPost h2{
        color: rgba(38,38,38,0.52);
        font-family: "Open Sans";
        font-size: 20px;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
      }
      .pg-post .estruturaPost h1{
        color: #262626;
        font-family: "Open Sans";
        font-weight: 600;
      }
      .pg-post .estruturaPost strong{
        color: #FAA633;
        font-family: "Open Sans";
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
      }
      .pg-post .textoDoPost strong{
        color: #717171;
        font-weight: initial;
      }

      .pg-post .estruturaPost .textoDoPost{
        margin-top: 20px;
        text-align: left;
      }
       .pg-post .estruturaPost .textoDoPost .wp-caption-text {
          font-style: italic;          
          color: #717171;
       }
  .pg-post .estruturaPost .textoDoPost h2{
          font-size: 25px;
        }
        .pg-post .estruturaPost .textoDoPost h1{
          font-size: 25px;
        }
        .pg-post .estruturaPost .textoDoPost figure{
          width: 100%!important;
        }
        .pg-post .estruturaPost .textoDoPost p{
          color: #717171;
          font-family: "Open Sans";
          line-height: 25px;
          font-size: 15px;
          font-weight: 300;
        }
         .pg-post .estruturaPost .textoDoPost p span{
          font-weight: 300!important;
         }
        .pg-post .estruturaPost .textoDoPost h3{
          margin-bottom: 16px;
          font-weight: bold;
          color: #262626;
          margin: 26px 0;
        }
        .pg-post .estruturaPost .textoDoPost img{
          width: 100%;
          max-width: 100%;
          height: auto;
        }
    .pg-post .estruturaPost .textoDoPost strong{
      color: #909090;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 700;
      text-transform: initial;
    }
      .pg-post .estruturaPost .textoDoPost ul{
       padding-left: 25px;
      }
        .pg-post .estruturaPost .textoDoPost ul li{
         list-style: outside;
         line-height: 24px;
         color: #717171;
         
        }
      .pg-post .postsRelacionados {
        width: 100%;
        max-width: 1090px;
        height: auto;
        min-height: 400px;
        padding: 15px 15px;
        margin: 0 auto
      }
      .pg-post .postsRelacionados span {
        font-size: 30px;
        text-align: left;
        display: block;
        padding: 10px 0;
        color: #909090;
      }
    .pg-post .postsRelacionados ul{
    }  
      .pg-post .postsRelacionados ul li{
        list-style: none;
        display: inline-block;
        vertical-align: top;
        width: 49.7%;
      }  
        .pg-post .postsRelacionados ul li a:hover > .pg-post .postsRelacionados ul li .estruturaPostRelacionado h1 {
          text-decoration: underline;
        }
        .pg-post .postsRelacionados ul li a {
          
        }
        .pg-post .postsRelacionados ul li .estruturaPostRelacionado {
          width: 100%;
        }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado .imagemDestaquePost {
            width: 100%;
            height: auto;
            min-height: 200px;
            border-radius: 5px;
            background-size: cover!important;
            background-position: center!important;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado h1 {
            margin: 0;
            text-align: center;
            color: #000;
            font-family: 'Roboto', sans-serif;
            font-size: 23px;
            padding: 0 10px;
            min-height: 55px;
            margin-top: 10px;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado h2 {
            margin: 0;
            color: #717171;
            padding: 10px 0 0 0;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            text-align: center;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado span {
            color: #FAA633;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            text-align: center;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado p {
            color: #717171;
            font-size: 15px;color: #717171;
            font-size: 15px;
            min-height: 62px;
          }
  .pg-post .produtosRelacionados {
    width: 100%;
    padding: 0 5px;
  }
    .pg-post .produtosRelacionados .carrosselProdutos{
      width: 100%;
    }
      .pg-post .produtosRelacionados .carrosselProdutos .item{
        width: 100%;      
        padding: 0 10px;
      }
        .pg-post .produtosRelacionados .carrosselProdutos .item .produto {
          padding: 0 3px;
          border: 2px solid transparent;
          position: relative;
          min-height: 450px;
        } 
        .pg-post .produtosRelacionados .carrosselProdutos .item .produto:hover {
          border: 2px solid #faa633;
        }
          .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto {
            text-decoration: none;
          }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto figure.imagemDestaque{
              width: 100%;
              max-width: 250px;
              margin: 0 auto;
              text-align: center;
            }
              .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto figure.imagemDestaque img{
                width: 100%;
                height: auto;
              }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto span.porcentagemDesconto{
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              max-width: 70px;
              background-color: #6ea684;
              text-align: center;
              color: #fff;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto h4.nomeProduto{
              color: #535353;
              font-size: 15px;
              font-family: "Open Sans";
              min-height: 50px;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto p{
              margin: 0;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto p.precoSemDesconto{
              color: #898989;
              font-size: 14px;  
              text-decoration: line-through;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto p.precoComDesconto{
              font-size: 24px;
              color: #faa633;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto p.precoParcelado{
              color: #faa633;
              font-size: 14px;
              font-weight: 400;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto p.precoNoBoleto{
              color: #555;
              font-size: 14px;
              line-height: 18px;
            }
            .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto span.avaliacaoProduto{
              width: 100%;
              display: block;
              text-align: center;
            }
              .pg-post .produtosRelacionados .carrosselProdutos .item .produto a.linkProduto span.avaliacaoProduto img{
                display: inline-block;
                width: 100%;
                height: auto;
                max-width: 20px;
              }
               

               /* 600px media query
              .pg-post .produtosRelacionados .carrosselProdutos .item .produto {
                text-align: center;
                min-height: 0;
              }*/

        
/* PAGINA QUEM SOMOS */
  .pg-quemSomos{
  }
    .pg-quemSomos .bannerPost{
      margin: 20px auto 0;
    }
    .pg-quemSomos figure.bannerPost{
      background: url(img/banner-historia.jpg);
      position: relative;
      width: 100%!important;
      height: 400px!important;

    }
    .pg-quemSomos figure.bannerPost:before{
      content: "";
      display: block;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, 
        rgba(0, 0, 0, 0.45) 45%, 
        rgba(0, 0, 0, 0.1) 85%, 
        transparent 100%);
      position: absolute;
      width: 100%;
      height: 100%;

    }
     .pg-quemSomos figure.bannerPost h1{
        color: #FFFFFF;
        font-family: "Open Sans";
        font-weight: bold;
        line-height: 43px;
        width: 100%;
        max-width: 766px;
        margin: 0 auto;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
    .pg-quemSomos .textoQuemSomos{
      padding-top: 57px;
      width: 100%;
      max-width: 766px;
      margin: 0 auto;
    }
      .pg-quemSomos .textoQuemSomos p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
        font-weight: 300;
      }
    .pg-quemSomos ul{
      text-align: center;
      margin-top: 50px;
    }
      .pg-quemSomos ul li {
        display: inline-block;
        margin: 20px 30px;
        width: 260px;
        text-align: center;
      }
        .pg-quemSomos ul li img {
          border-radius: 100%;
          display: block;
          max-width: 250px;
          height: 250px;
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
        }
        .pg-quemSomos ul li img:hover{
          transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -webkit-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -moz-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -o-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -ms-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
        }
        .pg-quemSomos ul li h2 {
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 20px;  f
          font-weight: 700;  
          line-height: 23px;  
          text-align: center;
          font-weight: 600;
        }

        .pg-quemSomos ul li span {
          color: #FAA633;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 600;
          line-height: 17px;
          text-align: center;
          margin: 0 auto;
          text-transform: uppercase;
        }
  .pg-quemSomos .linhadoTempo{
    min-height: 344px;  
    width: 100%;  
    background-color: #69A586;  
    box-shadow: 0 12px 32px 0 rgba(0,0,0,0.08);
    padding-top: 114px;
    position: relative;
    padding-top: 75px;
  }
    .pg-quemSomos .linhadoTempo hr{
      position: absolute;
      height: 2px;
      background: #fff;
      border: none;
      width: 100%;
      display: block;
      max-width: 1200px;
      margin: 17px auto 0px;
      top: 37%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo{
      position: relative;
      padding: 0;
      margin: 0 auto;
      max-width: 1200px;
    }
      .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item{
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
        position: relative;
        width: 100%;
        min-width: 130px;
        min-height: 166px;
        text-align: center;
      }
      .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item .areaconteudo{
        position: absolute;
        display: block;
        width: 100%;
        top: 51%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        left: 0;

      }
        .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item figure{
          width:15px;
          height:15px;
          background: #fff;
          border-radius: 100%;
          transition: .1s;
          -webkit-transition: .1s;
          -moz-transition: .1s;
          -o-transition: .1s;
          border: solid 2px #fff;
          margin-top: 1px;
          margin: 1px auto;
        }
          .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item:hover figure{
            width: 130px;
            height: 130px;
            transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
            -o-transition: .1s;
          }

       /*   .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item.ativo figure{
            width: 100px;
            height: 100px;
            transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
            -o-transition: .1s;
          }*/
        .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item figure img{
          width: 100%;
          height: 100%;
          border-radius: 100%;
          display: block;
          opacity: 0;
          transition: .1s;
          -webkit-transition: .1s;
          -moz-transition: .1s;
          -o-transition: .1s;
        }
           .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item:hover img{
            opacity: 1;
            transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
            -o-transition: .1s;
           }
          /* .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item.ativo img{
            opacity: 1;
            transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
            -o-transition: .1s;
           }*/
        .pg-quemSomos .linhadoTempo .carrossellLinhadoTempo .item span{
            color: #454545; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            font-weight: bold;  
            line-height: 17px;
            display: block;
            margin-top: 15px;
            text-align: center;
            color: #fff;
        }
        .pg-quemSomos .linhadoTempo .textoLinhadoTempo{
           max-width: 1200px;
           margin: 15px auto;
        } 
          .pg-quemSomos .linhadoTempo .textoLinhadoTempo #btnMudarCarrossel{
            background: url(img/seta.png);
            background-position: center!important;
            display: block;
            float: right;
            width: 41px;
            height: 29px;
            margin: 0 20px;
            background-size: cover!important;
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            border: none;
            outline: none;

          } 
          .pg-quemSomos .linhadoTempo .textoLinhadoTempo #btnMudarCarrosselright{
            background: url(img/setaright.png);
            background-position: center!important;
            display: block;
            width: 41px;
            height: 29px;
            margin: 0 20px;
            background-size: cover!important;
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            border: none;
            outline: none;

          }
          .pg-quemSomos .linhadoTempo .textoLinhadoTempo p{
            color: #FFFFFF;
            font-size: 20px;
            line-height: 23px;
            font-weight: 400;
            margin: 0 auto 20px;
            text-align: center;
          }
          .pg-quemSomos .owl-carousel.owl-loaded:before{
            display: block;
            content: " ";
            width: 121px;
            height: 140px;
            background: red;
            right: 0;
            position: absolute;
            z-index: 999;
            background: linear-gradient(to left, #69a586eb 0%, #69a58685 45%, #69a58654 85%, #74af9100 100%);

          }
        
/*PÁGINA DE CONTATO*/
  .pg-contato{
    padding-top: 20px;
  }

    .pg-contato figure{
        
    }
    .pg-contato .bannerPost{
      height: 320px;
      width: 100%;
    }
    .pg-contato article{
        padding-top: 20px;
        width: 100%;
        max-width: 500px;
        margin-bottom: 70px;
        padding: 20px 10px;
    }
      .pg-contato article h3{
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 36px;  
          font-weight: bold;  l
          line-height: 48px;
      }
      .pg-contato article p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
      }
    .pg-contato .areaContato{
    padding: 0 20px;
    }
      .pg-contato .areaContato .endereco{
        width: 100%;
        max-width: 212px;
      }
        .pg-contato .areaContato .endereco span{ 
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 20px;  
          font-weight: bold;  
          line-height: 23px;
          display: block;
        }
        .pg-contato .areaContato .endereco a{
          text-decoration: none;
          color: #717171; 
          font-family: "Open Sans"; 
          font-size: 14px;  
          line-height: 31px;
        }
    .pg-contato .areaContato .contato{
      
    }
      .pg-contato .areaContato .contato span{
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 20px;  
        font-weight: bold;  
        line-height: 23px;
        display: block;
      }
      .pg-contato .areaContato .contato a{
        text-decoration: none;
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 31px;
        display: block;
      }
    .pg-contato .areaNewsllater figure {
      max-width: 432px;
    }

      .pg-contato .areaNewsllater {
        min-height: 745px;
        margin-top: -170px;
      }
      .pg-contato .areaNewsllater p{
        color: #fff;
        font-size: 24px;
        max-width: 432px;
        margin: 0 auto 30px;
      }
      .pg-contato .areaNewsllater .form{
        max-width: 432px;
      }
        .pg-contato .areaNewsllater .form input[type="text"]{
          margin: 31px 0;
        }
        .pg-contato .areaNewsllater .form input[type="submit"]{
            background: transparent;
            color: transparent;
            border: none;
            background: url(img/if_Arrow_Forward_1063879.png);
            width: 35px;
            background-repeat: no-repeat!important;
            outline: none;
            height: 25px;
            margin-top: 44px;
            margin-bottom: 10px;
        }
        .pg-contato .areaNewsllater .form textarea{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 143px;
          padding: 10px;
          outline: none;
          color: rgba(38,38,38,0.52); 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
  .pg-contato iframe{
    margin: 100px 0 0;
    width: 100%;
    height: 300px;
  }

/*EXTRAS*/
  .containerLagura{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
  }
  .topoFixo{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 999;
    border-bottom: solid 1px #ccc;
    top: 0;
    display: none;
    background: #fff;
    padding: 0 10px;
  }
  .topo.topoFixo .containerMenu .logo img{
    max-width: 110px;
  }
  .topo.topoFixo .containerMenu{
    padding: 0;
  }
  .topo.topoFixo .navbar .navbar-header nav ul li a{
    padding-top: 12px;
    padding-bottom: 5px;
  }
  .topo.topoFixo .containerMenu .logo{
    padding-top: 8px;
  }
  .bannersSidebar{
    width: 100%;
    margin-top: 60px;
  }
  .bannersSidebar img{
    display: block;
    border-radius: 5px;
    width: 100%;
    height: auto;

  }
  .numero.selecionado{
    background: #FAA633;
    color: #fff!important;
  }
  .backToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 999;
  }
    .backToTop #subir {
      width: 44px;
      height: 44px;
      position: absolute;
      background: #000;
      color: #fff;
      border-radius: 100%;
      border: 1px solid transparent;
      text-align: center;
      font-size: 25px;
    }
      .backToTop #subir i {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    .backToTop #subir:hover {
      border: 1px solid #000;
      background: #fff;
      color: #000;
      -webkit-transition: all linear .3s;
      -moz-transition: all linear .3s;
      -o-transition: all linear .3s;
      cursor: pointer;
    }
    .disqus {
      padding: 20px;
    }
  .widget_wysija_cont .updated, .widget_wysija_cont .login .message{
    background: #fff;
    text-align: center;
    border-radius: 5px;
  }
  .wysijap-template-default.single.single-wysijap .pg .bannerPost{
    display: none;
  }
  .wysijap-template-default.single.single-wysijap .col-sm-4{
    display: none;
  }
  .wysijap-template-default.single.single-wysijap .col-sm-8{
    width: 100%;
    text-align: center;
  } 
  .wysijap-template-default.single.single-wysijap .pg-post .estruturaPost{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .wysijap-template-default.single.single-wysijap .pg-post .estruturaPost .textoDoPost{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .wysijap-template-default.single.single-wysijap .pg-post .postsRelacionados span{
   display: none;
  }
  .wysijap-template-default.single.single-wysijap .pg-post .estruturaPost strong{
   display: none;
  }

  .navbar-nav>li>a {
    padding-top: 17px;
    padding-bottom: 0px; 
  }

  .rodape .menuRodape nav ul li.menu-item-1992 {
    display: none;
  }


/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg .bannerPost{
      width: 100%;

    }
  }

  @media(max-width: 991px){
    .pg-inicial aside ul li .texto h2{
      line-height: 20px;
      font-size: 18px;
    }
    .pg-inicial aside ul li .texto{
      padding: 0 10px
    }
    .pg-inicial .sessaoPosts ul li{
      padding: 0 10px;
    }
    .pg-inicial .paginador{
      display: block;
      text-align: center;
    }
    .pg-quemSomos .textoQuemSomos{
      padding: 0 10px;
    }
    .pg-quemSomos figure.bannerPost{
      height: 350px!important;
    }
    .pg-quemSomos figure.bannerPost h1{
      text-align: center;
      max-width: 100%;
    }
    .pg-quemSomos ul li{
      margin: 0;
    }
    .pg-quemSomos .linhadoTempo{
      padding-right: 10px;
      padding-left: 10px;
    }
    .owl-carousel.owl-loaded:before{
      right: -10px;
    }
    .pg-inicial .banners {
      width: 96%;
      margin: 0 auto;
    }
    .banners img {
      width: 100%;
      height: auto;
    }
  }
  @media(max-width: 767px){
    .pg-post .estruturaPost .textoDoPost img{
      display: block;
      width: 100%;
    }
    .dropdown.open .sub-menu.dropdown-menu{
      padding-left: 20px;
    }
    .pg-inicial .carrosselDestaque .item{
      max-width: 640px;
      min-height: 440px;
      margin: 0 auto;
    }
    .pg-contato .areaNewsllater{
      margin-top: 0;
    }
    .pg-inicial .carrosselDestaque .item a .tituloDestaque h2{
      font-size: 25px;
      line-height: 30px;
    }
    .pg-inicial .sessaoPosts ul li{
      text-align: center;
      border-bottom: solid 1px #ccc;
      padding:0 10px 40px;

    }
    
    .pg-inicial .sessaoPosts ul li a.linkPost figure{
      text-align: center;
    }
    .pg-inicial aside ul{
      display: none;
    }
    .pg-inicial .areaTags .tags{
      text-align: center;
    }
    .rodape{
      text-align: center;
      padding: 10px;
    }
    .rodape .descricao{
      text-align: center;
      max-width: 100%;
    }
     .topo .navbar button{
      display: block;
    }
    .topo .navbar .navbar-header nav ul li{
      display: block;
    }
    .topo .navbar .navbar-header nav ul{
      text-align: left;
      overflow-y: scroll;
    }
    .pg .bannerPost{
      height: 250px;
    }
    .pg-post .estruturaPost h1{
      font-size: 25px;
    }
    .pg-contato article{
      text-align: center;
      margin: 0 auto;
    }
    .pg-contato .areaContato .endereco{
      text-align: center;
      margin: 0 auto;
      max-width: 320px;
    }
    .pg-contato .areaContato .contato{
      text-align: center;
      margin: 20px auto;
      max-width: 320px;
    }
    .topoFixo{
      display: none;
      z-index: -1;
      visibility: hidden;
    }
    .banners img{
      margin:0 auto;
    }
    .topo .containerMenu .logo img{
      margin: 10px auto 0;
    }
    .topo .pesquisar{
      max-width: 190px;
      display: block;
      margin: 0 auto;
    }
    .topo .pesquisar input[type="text"]{
      opacity: 1;
    }
    .pg-post .postsRelacionados span {
      text-align: center;
      font-size: 20px;
    }
  }

  @media(max-width: 425px){
    .pg-inicial .carrosselDestaque .item{
      min-height: 325px;
    }
    .pg-inicial .sessaoPosts ul li a.linkPost h2{
      font-size: 20px;
    }

  }

  @media(max-width: 320px){
  
  }
