/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}
a{
  outline: none;
}

/* BODY */
  body{
    background: #fafafa;
  }

/* TOPO */
  .topo{

  }
  header{

  }
    .topo .containerMenu{
      padding: 20px 0 0;
    }
      
      .topo .containerMenu .logo{

      }
        .topo .containerMenu .logo a{
          
        }
          .topo .containerMenu .logo img{

          }
      .topo .navbar{
        margin: 0
      }
        .topo .navbar button{
          border: solid 1px #ccc;
          margin: 0 20px;
          display: none;
        } 
          .topo .navbar button span{
            background: #ccc;
          }  
        .topo .navbar .navbar-header{
          float: initial;
          width: 100%;
        } 
          .topo .navbar .navbar-header nav{
        
          }  
            .topo .navbar .navbar-header nav ul{
              float: initial;
              width: 100%;
              text-align: right;
            } 
              .topo .navbar .navbar-header nav ul li{
                float: initial;
                display: inline-block;
                margin: 0 10px;
              }
                .topo .navbar .navbar-header nav ul li a{
                  color: rgba(38,38,38,0.51); 
                  font-family: "Open Sans"; 
                  font-size: 14px;  
                  line-height: 19px;
                }
                  .topo .navbar .navbar-header nav ul li a:before{
                    content: attr(title);
                    display: block;
                    margin-top: 10px;
                    color: rgba(38,38,38,0.54); 
                    font-family: "Open Sans"; 
                    font-size: 14px;  
                    text-decoration: none;
                    font-weight: bold;
                    height: 1px;
                    overflow: hidden;
                    visibility: hidden;
                  }
                  .topo .navbar .navbar-header nav ul li a:focus{
                    background: transparent!important;
                  }
                  .topo .navbar .navbar-header nav ul li a:active{
                    background: transparent!important;
                  }
                  .topo .navbar .navbar-header nav ul li a:hover{
                    background: transparent!important;
                    font-weight: bold;
                  }
                  
/*RODAPÉ*/
  .rodape{
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding-bottom: 70px;
    padding-top: 50px;
    background: #fff;
   
  }
    .rodape .logo{
      margin: 0 auto;
    }
      .rodape .logo img{
        margin-top: 10px;
      }
    .rodape .descricao{
      width: 100%;
      max-width: 250px;
      text-align: left;
    }
      .rodape .descricao h4{
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 16px;  
        font-weight: bold;  
        line-height: 17px;
      }
      .rodape .descricao p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
        font-weight: 300;
      }
    .rodape .menuRodape {
      
    } 
      .rodape .menuRodape strong {
        display: block; 
        margin-top: 10px;
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        font-weight: bold;  
        line-height: 19px;
      }
      .rodape .menuRodape nav {
        
      }
        .rodape .menuRodape nav a{
          display: block;
          margin-top: 10px;
          color: rgba(38,38,38,0.54); 
          font-family: "Open Sans"; 
          font-size: 14px;  
          text-decoration: none;
          padding: 2px;
        }
        .rodape .menuRodape nav a:hover{
          font-weight: bold;
        }
        .rodape .menuRodape nav a:before{
          content: attr(title);
          display: block;
          margin-top: 10px;
          color: rgba(38,38,38,0.54); 
          font-family: "Open Sans"; 
          font-size: 14px;  
          text-decoration: none;
          font-weight: bold;
          height: 1px;
          overflow: hidden;
          visibility: hidden;

        }
    .rodape .redesSociais a{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 12px 10px;
      background-size: cover!important;
      background-position: center !important;

    }
    
    .rodape .redesSociais .facebook{

      background: url(../img/ic-facebook.png);
    }
    .rodape .redesSociais .youtube{
      background: url(../img/ic-youtube.png);
    }
    .rodape .redesSociais .instagram{
      background: url(../img/ic-instagram.png);
    }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }
    .pg .bannerPost{
      display: block;
      height: 376px;
      width: 90%;
      margin: 30px auto 0;
      background-size: cover !important;
      background-position: center !important;
    }
      .pg .bannerPost img{

      }
    .pg .areaNewsllater {
      margin-top: 60px;
      background: #69A586;
      padding:50px  20px;
      border-radius: 5px;
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 1);
    }

      .pg .areaNewsllater figure{
        max-width: 250px;
        display: block;
        margin: 0 auto 25px;
      }
      .pg .areaNewsllater p{
        color: #fff;
        font-size: 24px;
        max-width: 227px;
        margin: 0 auto 30px;
      }
      .pg .areaNewsllater .form{
         max-width: 227px;
         margin: 0 auto;
         text-align: right;
      }
        .pg .areaNewsllater .form input[type="text"]{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 53px;
          padding: 10px;
          outline: none;
          color: rgba(38,38,38,0.52); 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
          /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form input[type="text"]::-webkit-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form input[type="text"]:-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form input[type="text"]::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form input[type="text"]:-ms-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form textarea::-webkit-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form textarea::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form textarea::-moz-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form textarea::-ms-input-placeholder { 
            color: rgba(38,38,38,0.52); 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }
        .pg .areaNewsllater .form input[type="submit"]{
            background: transparent;
            color: transparent;
            border: none;
            background: url(../img/if_Arrow_Forward_1063879.png);
            width: 35px;
            background-repeat: no-repeat!important;
            outline: none;
            height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    .pg .col-sm-4 aside{
      padding: 0 5px;
    }
    .pg .postsMaislidos {
      margin-top: 20px;
      box-shadow: 0px 0px 32px 0 rgba(0,0,0,0.2);
      width: 100%;
      border-radius: 5px;
      padding: 0 20px;
    }
      .pg .postsMaislidos span{
        display: block;
        max-width: 289px;
        margin:  0 auto;
        padding-top: 30px;
        text-transform: uppercase;
        color: rgba(38,38,38,0.27);
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 17px
      }
      .pg .postsMaislidos ul{
        display: block;
        max-width: 289px;
        padding-top: 30px;
        margin:  0 auto;
        padding-bottom: 10px;
        list-style: none;
      }
        .pg .postsMaislidos ul li{
          border-bottom: 1px solid #ccc;
        }
        .pg .postsMaislidos ul li:last-child{
          border: none;
        }
          .pg .postsMaislidos ul li h3{
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
            color: rgba(38,38,38,0.52); 
            text-transform: uppercase;
            font-weight: 600;
          }
          .pg .postsMaislidos ul li h2{
            color: #000; 
            font-family: "Open Sans"; 
            font-size: 20px;
            font-weight: 600;
          }
          .pg .postsMaislidos ul li strong{
            color: #FAA633; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            font-weight: bold;  
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 10px;
          }

/*PÁGINA INICIAL*/
  .pg-inicial{
    
  }
    .pg-inicial .containerLagura{
      border-top: solid 1px #ccc;
      padding-top: 50px;
      margin-top: 25px;
    }
   
      .pg-inicial .carrosselDestaque .item{ 
        width: 100%;
        max-width: 760px;
        min-height: 516px;
        border-radius: 10px;
        background-size: cover!important;
        background-position: center!important;
        position: relative;
        border: solid 3px #fff;
      }
        .pg-inicial .carrosselDestaque .item a{ 
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, 
          rgba(0, 0, 0, 0.45) 45%, 
          rgba(0, 0, 0, 0.1) 85%, 
          transparent 100%);
          position: absolute;
          border-radius: 10px;
        }
          .pg-inicial .carrosselDestaque .item a .tituloDestaque{ 
            width: 100%;
            max-width: 630px;
            padding: 10px;
            position: absolute;
            display: block;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform:translateX(-50%);
            -moz-transform:translateX(-50%);
            -o-transform:translateX(-50%);
          }
            .pg-inicial .carrosselDestaque .item a .tituloDestaque h3{ 
              color: #fff;
              font-weight: 100;
              text-transform: uppercase;
              font-size: 16px;
              font-family: "Open Sans";
            }
            .pg-inicial .carrosselDestaque .item a .tituloDestaque h2{ 
              color: #fff;
              font-size: 36px;
              line-height: 43px;
            }
            .pg-inicial .carrosselDestaque .item a .tituloDestaque strong{ 
                color: #FAA633; 
                font-family: "Open Sans"; 
                font-size: 14px;  
                font-weight: 600;
                text-transform: uppercase;  
                line-height: 19px;
            }
    .pg-inicial .sessaoPosts{
      padding-top: 30px;
      max-width: 760px;
    }
      .pg-inicial .sessaoPosts ul{
        padding: 0;
        list-style: none;
      }
        .pg-inicial .sessaoPosts ul li{
          margin-bottom: 50px;
        }
          .pg-inicial .sessaoPosts ul li a{
            text-decoration: none;
          }
            .pg-inicial .sessaoPosts ul li a h3{
                color: rgba(38,38,38,0.52); 
                font-family: "Open Sans"; 
                font-size: 12px;  
                line-height: 17px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .pg-inicial .sessaoPosts ul li a h2{
              color: #262626; 
              font-family: "Open Sans"; 
              font-size: 24px;  
              font-weight: bold;  
              line-height: 28px;
            }
            .pg-inicial .sessaoPosts ul li a strong{
                color: #FAA633;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
                display: block;
                margin-bottom: 20px;
                margin-top: 15px;
            }
            .pg-inicial .sessaoPosts ul li a p{
              color: #717171; 
              font-family: "Open Sans"; 
              font-size: 14px;  
              line-height: 22px;    
            }
          .pg-inicial .sessaoPosts ul li a figure{
            text-align: right;
          }
            .pg-inicial .sessaoPosts ul li a figure img{
              display: inline-block;
              width: 100%;
              max-width: 290px;
              border-radius: 5px;
              margin-top: 30px;
            }
    .pg-inicial .paginador{
      display: inline-block;
    }
      .pg-inicial .paginador ul{
        list-style: none;
      }
        .pg-inicial .paginador ul li{
          display: inline-block;
          padding: 10px 5px; 
          color: rgba(38,38,38,0.52);
        }
          .pg-inicial .paginador ul li a{
            text-decoration: none;
            color: rgba(38,38,38,0.52);
            font-size: 18px;
          }
    .pg-inicial aside{
      padding: 0 15px;
    }
      .pg-inicial aside ul{
        list-style: none;
        padding: 0;
        padding-top: 3px;
        margin: 0;
      }
        .pg-inicial aside ul li{
          margin-bottom: 40px;
        }
          .pg-inicial aside ul li .imagemPost{
            background: url(../img/moinho.jpg);
            display: block;
            width: 100%;
            height: 140px;
            background-size: cover!important;
            background-position: center!important;
            border-radius: 5px;
            max-width: 110px;
          }
            
        .pg-inicial aside ul li .texto{
          max-width: 230px;
          margin: 0 auto;
        }
          .pg-inicial aside ul li .texto h3{
            color: rgba(38,38,38,0.52);
            font-family: "Open Sans";
            font-size: 12px;
            line-height: 17px;
            text-transform: uppercase;
            margin-bottom: 0;
            margin: 0;
            margin: 15px 0 10px;
            font-weight: 600;
          }
          .pg-inicial aside ul li .texto h2{
            color: #262626;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            margin: 0;

          }
          .pg-inicial aside ul li .texto strong{
            color: #FAA633;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            margin-top: 15px;
          }
    
    .pg-inicial .areaTags{
      margin-top: 60px;
    }
      .pg-inicial .areaTags h3{
        color: #262626;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 600;
        line-height: 43px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D8D8D8;
        margin-bottom: 20px;
      }
      .pg-inicial .areaTags .tags{
      
      }
        .pg-inicial .areaTags .tags a{
          color: #fff;
          background: #faa633;
          padding: 9px 15px;
          border-radius: 5px;
          text-align: center;
          display: inline-block;
          margin-bottom: 10px;
          text-decoration: none;
        }
    .pg-inicial .banners{

    }
   
/*PÁGINA POST*/
  .pg-post{
    
  } 
    .pg-post .containerLagura{
      margin-top: 30px;
    }
    
    .pg-post .estruturaPost{
     padding: 50px 15px;
      max-width: 725px;
    }
      .pg-post .estruturaPost h2{
        color: rgba(38,38,38,0.52);
        font-family: "Open Sans";
        font-size: 12px;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
      }
      .pg-post .estruturaPost h1{
        color: #262626;
        font-family: "Open Sans";
        font-weight: 600;
      }
      .pg-post .estruturaPost strong{
        color: #FAA633;
        font-family: "Open Sans";
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
      }
      .pg-post .estruturaPost .textoDoPost{
        margin-top: 20px;
        text-align: left;
      }
        .pg-post .estruturaPost .textoDoPost p{
          color: #717171;
          font-family: "Open Sans";
          line-height: 25px;
          font-size: 15px;
          font-weight: 300;
        }
        .pg-post .estruturaPost .textoDoPost h3{
          margin-bottom: 16px;
          font-weight: bold;
          color: #262626;
          margin: 26px 0;
        }
        .pg-post .estruturaPost .textoDoPost img{
          width: 100%;
          height: auto;
          margin: 50px 0 10px 0;
        }

/* PAGINA QUEM SOMOS */
  .pg-quemSomos{
    padding-top: 20px;
  }
    .pg-quemSomos figure{
      background: url(../img/banner-historia.jpg);
      position: relative;
      width: 100%!important;
      height: 550px!important;

    }
    .pg-quemSomos figure:before{
      content: "";
      display: block;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, 
        rgba(0, 0, 0, 0.45) 45%, 
        rgba(0, 0, 0, 0.1) 85%, 
        transparent 100%);
      position: absolute;
      width: 100%;
      height: 100%;

    }
     .pg-quemSomos figure h1{
        color: #FFFFFF;
        font-family: "Open Sans";
        font-weight: bold;
        line-height: 43px;
        width: 100%;
        max-width: 766px;
        margin: 0 auto;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
    .pg-quemSomos .textoQuemSomos{
      padding-top: 57px;
      width: 100%;
      max-width: 766px;
      margin: 0 auto;
    }
      .pg-quemSomos .textoQuemSomos p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
        font-weight: 300;
      }
    .pg-quemSomos ul{
      text-align: center;
      margin-top: 50px;
    }
      .pg-quemSomos ul li {
        display: inline-block;
        margin: 20px 30px;
      }
        .pg-quemSomos ul li img {
          border-radius: 100%;
          display: block;
          max-width: 250px;
          height: 250px;
        }
        .pg-quemSomos ul li h2 {
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 20px;  f
          font-weight: 700;  
          line-height: 23px;  
          text-align: center;
          font-weight: 600;
        }
        .pg-quemSomos ul li span {
          color: #FAA633;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 600;
          line-height: 17px;
          text-align: center;
          margin: 0 auto;
          text-transform: uppercase;
        }
        
/*PÁGINA DE CONTATO*/
  .pg-contato{
    padding-top: 20px;
  }

    .pg-contato figure{
        
    }
    .pg-contato .bannerPost{
      height: 320px;
      width: 100%;
    }
    .pg-contato article{
        padding-top: 20px;
        width: 100%;
        max-width: 500px;
        margin-bottom: 70px;
        padding: 20px 10px;
    }
      .pg-contato article h3{
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 36px;  
          font-weight: bold;  l
          line-height: 48px;
      }
      .pg-contato article p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
      }
    .pg-contato .areaContato{
    padding: 0 20px;
    }
      .pg-contato .areaContato .endereco{
        width: 100%;
        max-width: 212px;
      }
        .pg-contato .areaContato .endereco span{ 
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 20px;  
          font-weight: bold;  
          line-height: 23px;
          display: block;
        }
        .pg-contato .areaContato .endereco a{
          text-decoration: none;
          color: #717171; 
          font-family: "Open Sans"; 
          font-size: 14px;  
          line-height: 31px;
        }
    .pg-contato .areaContato .contato{
      
    }
      .pg-contato .areaContato .contato span{
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 20px;  
        font-weight: bold;  
        line-height: 23px;
        display: block;
      }
      .pg-contato .areaContato .contato a{
        text-decoration: none;
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 31px;
        display: block;
      }
    .pg-contato .areaNewsllater figure {
      max-width: 432px;
    }

      .pg-contato .areaNewsllater {
        min-height: 745px;
        margin-top: -170px;
      }
      .pg-contato .areaNewsllater p{
        color: #fff;
        font-size: 24px;
        max-width: 432px;
        margin: 0 auto 30px;
      }
      .pg-contato .areaNewsllater .form{
        max-width: 432px;
      }
        .pg-contato .areaNewsllater .form input[type="text"]{
          margin: 31px 0;
        }
        .pg-contato .areaNewsllater .form input[type="submit"]{
            background: transparent;
            color: transparent;
            border: none;
            background: url(../img/if_Arrow_Forward_1063879.png);
            width: 35px;
            background-repeat: no-repeat!important;
            outline: none;
            height: 25px;
            margin-top: 44px;
            margin-bottom: 10px;
        }
        .pg-contato .areaNewsllater .form textarea{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 143px;
          padding: 10px;
          outline: none;
          color: rgba(38,38,38,0.52); 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
  .pg-contato iframe{
    margin: 100px 0 0;
    width: 100%;
    height: 300px;
  }

/*EXTRAS*/
  .containerLagura{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
  }

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg .bannerPost{
      width: 100%;

    }
  }

  @media(max-width: 991px){
    .pg-inicial aside ul li .texto h2{
      line-height: 20px;
      font-size: 18px;
    }
    .pg-inicial aside ul li .texto{
      padding: 0 10px
    }
    .pg-inicial .sessaoPosts ul li{
      padding: 0 10px;
    }
    .pg-inicial .paginador{
      display: block;
      text-align: center;
    }
    .pg-quemSomos .textoQuemSomos{
      padding: 0 10px;
    }
    .pg-quemSomos figure{
      height: 350px!important;
    }
    .pg-quemSomos figure h1{
      text-align: center;
      max-width: 100%;
    }
    .pg-quemSomos ul li{
      margin: 0;
    }
  }
  @media(max-width: 768px){
    .pg-inicial .carrosselDestaque .item{
      max-width: 640px;
      min-height: 440px;
      margin: 0 auto;
    }
    .pg-contato .areaNewsllater{
      margin-top: 0;
    }
    .pg-inicial .carrosselDestaque .item a .tituloDestaque h2{
      font-size: 25px;
      line-height: 30px;
    }
    .pg-inicial .sessaoPosts ul li{
      text-align: center;
      border-bottom: solid 1px #ccc;
      padding:0 10px 40px;

    }
    .pg-inicial .sessaoPosts ul li a figure{
      text-align: center;
    }
    .pg-inicial aside ul{
      display: none;
    }
    .pg-inicial .areaTags .tags{
      text-align: center;
    }
    .rodape{
      text-align: center;
      padding: 10px;
    }
    .rodape .descricao{
      text-align: center;
      max-width: 100%;
    }
     .topo .navbar button{
      display: block;
    }
    .topo .navbar .navbar-header nav ul li{
      display: block;
    }
    .topo .navbar .navbar-header nav ul{
      text-align: left;
    }
    .pg .bannerPost{
      height: 250px;
    }
    .pg-post .estruturaPost h1{
      font-size: 25px;
    }
    .pg-contato article{
      text-align: center;
      margin: 0 auto;
    }
    .pg-contato .areaContato .endereco{
      text-align: center;
      margin: 0 auto;
      max-width: 320px;
    }
    .pg-contato .areaContato .contato{
      text-align: center;
      margin: 20px auto;
      max-width: 320px;
    }
  }

  @media(max-width: 425px){
    .pg-inicial .carrosselDestaque .item{
      min-height: 325px;
    }
    .pg-inicial .sessaoPosts ul li a h2{
      font-size: 20px;
    }

  }

  @media(max-width: 320px){
  
  }
